<div [formGroup]="form">
  <div class="p-grid ml-2 m-2">
    <div class="p-col" style="text-align: right">
      <span
        (click)="backToList()"
        class="mt-2 ml-3 header-left"
        style="color: #0080f9; cursor: pointer"
        >Categories Errand Types</span
      >
      <span class="mt-2 ml-2 mr-2 header-left">></span>
      <span class="mt-2 header-left"
        >{{ formType == "add" ? "Add" : "Edit" }} Category</span
      >
      <p-button
        class="mr-3 cancel-button"
        label="Cancel"
        [text]="true"
        (click)="backToList()"
        size="small"
      />

      <p-button
        (click)="submit()"
        [disabled]="!form?.valid"
        label="{{ formType == 'add' ? 'Add' : 'Save' }}"
        size="small"
      >
      </p-button>
    </div>
  </div>

  <hr class="header-divider" />

  <div class="categories-errands-type-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid d-flex inputs-div">
        <div class="col-12 p-0">
          <div class="p-20 flex flex-wrap">
            <div class="col-3">
              <div class="flex flex-column gap-2">
                <label for="categoryId"
                  >Category<span class="p-error"> * </span>
                </label>
                <p-dropdown
                  [options]="categoriesLists"
                  formControlName="categoryId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                />

                <div
                  *ngIf="
                    f.categoryId.errors &&
                    (f.categoryId.dirty || f.categoryId.touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="f.categoryId.errors.required">
                      Category field is required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="flex flex-column gap-2">
                <label for="nameEn"
                  >Name Type [EN]<span class="p-error"> * </span>
                </label>
                <input
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      f.nameEn?.errors?.required || f?.nameEn?.errors?.pattern
                  }"
                  type="text"
                  pInputText
                  formControlName="nameEn"
                />

                <div
                  *ngIf="
                    f.nameEn.errors && (f.nameEn.dirty || f.nameEn.touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="f.nameEn.errors.required">
                      Name Type [EN] field is required
                    </span>
                    <span *ngIf="f.nameEn.errors.pattern">
                      Only English letters are allowed.
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-3">
              <div class="flex flex-column gap-2">
                <label for="nameAr">Name Type [AR] </label>
                <input
                  [ngClass]="{
                    'ng-invalid ng-dirty': f.nameAr?.errors?.pattern
                  }"
                  type="text"
                  pInputText
                  formControlName="nameAr"
                />

                <div *ngIf="f.nameAr.errors" class="invalid-feedback">
                  <div class="fs-10 color-red">
                    <span *ngIf="f.nameAr.errors.pattern">
                      Only Arabic letters are allowed.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="flex flex-column gap-2">
                <label for="serviceLevel"
                  >Service Level (In days) <span class="p-error"> * </span>
                </label>
                <input
                  [ngClass]="{
                    'ng-invalid ng-dirty': f.serviceLevel?.errors?.required
                  }"
                  type="text"
                  pInputText
                  formControlName="serviceLevel"
                />

                <div
                  *ngIf="
                    f.serviceLevel.errors &&
                    (f.serviceLevel.dirty || f.serviceLevel.touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="f.serviceLevel.errors.required">
                      Service Level (In days) field is required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 p-lr pb-16">
          <div class="col-12 displayFlex align-item-center">
            <p-checkbox
              (onChange)="requieredQuantityChanged($event)"
              formControlName="requireQuantity"
              binary="true"
            ></p-checkbox>
            <label class="requireQuantity" for="requireQuantity"
              >Require Qty <span class="p-error"> * </span></label
            >
            <div
              *ngIf="
                f.requireQuantity.errors &&
                (f.requireQuantity.dirty || f.requireQuantity.touched)
              "
              class="invalid-feedback"
            >
              <div class="fs-10 color-red">
                <span *ngIf="f.requireQuantity.errors.required">
                  Require Qty field is required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="f.requireQuantity.value" class="categories-errands-type-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid d-flex inputs-div">
        <div class="mt-3 ml-3 mr-3">
          <span style="font-weight: bolder; font-size: 12px">Linked Item</span>
        </div>
        <div class="col-12 p-0">
          <div class="p-20 flex flex-wrap">
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="itemCategoryId"
                  >Item Category<span class="p-error"> * </span>
                </label>
                <p-dropdown
                  [options]="categoriesLists"
                  formControlName="itemCategoryId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                />

                <div
                  *ngIf="
                    f.itemCategoryId.errors &&
                    (f.itemCategoryId.dirty || f.itemCategoryId.touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="f.itemCategoryId.errors.required">
                      Category field is required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="item">Item<span class="p-error"> * </span> </label>
                <input
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      f.item?.errors?.required || f?.item?.errors?.pattern
                  }"
                  type="text"
                  pInputText
                  formControlName="item"
                />

                <div
                  *ngIf="f.item.errors && (f.item.dirty || f.item.touched)"
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="f.item.errors.required">
                      Name Type [EN] field is required
                    </span>
                    <span *ngIf="f.item.errors.pattern">
                      Only English letters are allowed.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
