<div class="p-grid ml-2 m-2">
  <div class="p-col" style="text-align: right">
    <span class="mt-2" style="float: left; font-weight: bolder">Terminal</span>
    <p-button
      (click)="navigateToAdd()"
      label="Add Terminal"
      size="small"
      *secured="['terminals-all-terminals-add']"
    >
      <span class="ml-1 mr-1 add">
        <i class="pi pi-plus add-icon"></i>
      </span>
    </p-button>
  </div>
</div>
<br *ngIf="!authService.hasPermission('terminals-all-terminals-add')" />
<div class="mt-3">
  <oc-table
    [showSearchBar]="true"
    [url]="{
      getAll: '/Terminal/GetTerminalGrid',
      export: '/Terminal/ExportLeadGrid',
      import: '/Terminal/ImportTerminals'
    }"
    [addButtonLabel]="'Add Terminal'"
    [columns]="columns"
    [buttonsExistance]="tableBtns"
    [exportUrl]="'/Terminal/ExportLeadGrid'"
    [actions]="actions"
    [options]="{
      check: false,
      viewDetails: viewDetails,
      viewDetailsURL: '/main/terminal/details/',
      hasActionMenu: true
    }"
    [filters]="filters"
    [uploadHeader]="'Upload Bulk Terminal'"
    [sampleName]="'ImportTerminalSample.xlsx'"
    [reloadIfUpdated]="reloadIfUpdated"
    [service]="service"
    [gridActionsList]="gridActionsList"
  >
  </oc-table>
</div>
