<div>
  <div class="p-grid ml-2 m-2">
    <div class="p-col" style="text-align: right">
      <span
        (click)="backToList()"
        class="mt-2 ml-3 header-left"
        style="color: #0080f9; cursor: pointer"
        >Ticket</span
      >
      <span class="mt-2 ml-2 mr-2 header-left">></span>
      <span class="mt-2 header-left"
        >{{
          formType == "add" ? "Add" : formType == "edit" ? "Edit" : "Clone"
        }}
        Ticket</span
      >
      <p-button
        class="mr-3"
        label="Cancel"
        [text]="true"
        [raised]="true"
        (click)="backToList()"
        size="small"
      />

      <p-button
        (click)="submit()"
        [disabled]="!ticketForm?.valid"
        label="{{
          formType == 'add' ? 'Add' : formType == 'edit' ? 'Edit' : 'Clone'
        }}"
        size="small"
      >
      </p-button>
    </div>
  </div>
  <hr class="header-divider" />

  <div class="ticket-form">
    <form [formGroup]="ticketForm">
      <div class="form-container">
        <div class="ticket-card">
          <div class="service-container">
            <div class="header">
              <span>Services</span>
            </div>
            <p-divider></p-divider>
            <div class="category">
              <label for="category"
                >Category <span class="p-error"> * </span></label
              >
              <div class="flex flex-wrap gap-4 category-items">
                <div
                  class="flex align-items-center category-item"
                  *ngFor="let category of categories"
                >
                  <p-radioButton
                    name="categoryId"
                    [value]="category?.id"
                    formControlName="categoryId"
                    [inputId]="category?.inputId"
                  />
                  <label [for]="category?.inputId" class="ml-2">
                    {{ category?.nameEn }}
                  </label>
                </div>
              </div>
            </div>
            <div class="errand-types">
              <div class="errand-type-items" formArrayName="errandTypes">
                <div
                  class="errand-type-item"
                  *ngFor="
                    let item of ticketForm.get('errandTypes')?.controls;
                    let i = index;
                    let first = first
                  "
                  [formGroupName]="i"
                >
                  <!-- {{item.get('errandTypeId').value | json}} -->
                  <div class="left-control">
                    <label for="quanityt">
                      Errand Type <span class="p-error"> * </span>
                    </label>
                    <p-dropdown
                      [options]="errandTypes"
                      filter="true"
                      [optionLabel]="'nameEn'"
                      [optionValue]="'id'"
                      [showClear]="true"
                      [formControl]="item.get('errandTypeId')"
                      placeholder="Select Errand Type"
                      (onChange)="errandTypeChange($event, i)"
                    ></p-dropdown>
                    <div
                      *ngIf="
                        item.get('errandTypeId')?.errors &&
                        (item.get('errandTypeId').dirty ||
                          item.get('errandTypeId').touched)
                      "
                      class="invalid-feedback"
                    >
                      <div class="fs-10 color-red">
                        <span *ngIf="item.get('errandTypeId')?.errors.required">
                          Errand Type field is required
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="right-control">
                    <label for="quanity">
                      Quantity
                      <span
                        class="p-error"
                        *ngIf="item.get('quantity')?.errors?.required"
                      >
                        *
                      </span>
                    </label>
                    <p-inputNumber
                      placeholder="Enter Quantity"
                      [formControl]="item.get('quantity')"
                    />
                    <div
                      *ngIf="
                        item.get('quantity')?.errors &&
                        (item.get('quantity')?.dirty ||
                          item.get('quantity')?.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div class="fs-10 color-red">
                        <span *ngIf="item.get('quantity')?.errors.required">
                          Quantity field is required
                        </span>
                        <span *ngIf="item.get('quantity')?.errors.max">
                          Quantity field has to be between 1 and 10000
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="trash-icon" *ngIf="!first || formType == 'edit'">
                    <i class="pi pi-trash" (click)="removeErrandType(i)"></i>
                  </div>
                </div>
              </div>
              <div class="addons">
                <div class="add-item" (click)="addErrandType(errandTypeModel)">
                  <i class="pi pi-plus-circle"></i>
                </div>
                <label for="add-item">Addons</label>
              </div>
            </div>
          </div>
          <div class="details-container">
            <div class="header">
              <span>Details</span>
            </div>
            <p-divider></p-divider>
            <div class="details">
              <div class="control">
                <oc-ddl
                  [url]="'/Terminal/GetAllMechantDropDown'"
                  [form]="ticketForm"
                  [isMultiple]="false"
                  [controlName]="'merchantId'"
                  [showArabicName]="false"
                  [ddlHeader]="'Merchant'"
                  [requiredMessage]="'Merchant field is required'"
                >
                </oc-ddl>
              </div>

              <div class="control">
                <label>
                  Terminal
                  <span
                    class="p-error"
                    *ngIf="ticketForm.get('terminalId')?.errors?.required"
                  >
                    *
                  </span></label
                >
                <p-dropdown
                  [options]="terminals"
                  [optionLabel]="'terminalId'"
                  [optionValue]="'id'"
                  filter="true"
                  [showClear]="true"
                  formControlName="terminalId"
                  placeholder="Select Terminal"
                ></p-dropdown>
                <div
                  *ngIf="
                    ticketForm.get('terminalId')?.errors &&
                    (ticketForm.get('terminalId').dirty ||
                      ticketForm.get('terminalId').touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="ticketForm.get('terminalId')?.errors.required">
                      Terminal field is required
                    </span>
                  </div>
                </div>
              </div>
              <div class="control">
                <label class="assignee-label">
                  Assignee <span class="p-error"> * </span>
                  <div
                    [pTooltip]="
                      'The assigned agent is recommended based on the selected zone'
                    "
                    [tooltipPosition]="'right'"
                  >
                    <oc-icon
                      [icon]="'message-question'"
                      [width]="'16px'"
                      [height]="'16px'"
                    ></oc-icon></div
                ></label>
                <p-dropdown
                  [options]="assignees"
                  filter="true"
                  optionValue="id"
                  optionLabel="nameEn"
                  formControlName="assigneeId"
                  placeholder="Select Assignee"
                ></p-dropdown>
                <div
                  *ngIf="
                    ticketForm.get('assigneeId')?.errors &&
                    (ticketForm.get('assigneeId').dirty ||
                      ticketForm.get('assigneeId').touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="ticketForm.get('assigneeId')?.errors.required">
                      Assignee field is required
                    </span>
                  </div>
                </div>
              </div>
              <div class="control">
                <label>Note (Optional)</label>
                <textarea
                  rows="10"
                  cols="30"
                  pInputTextarea
                  formControlName="notes"
                >
                </textarea>
                <div
                  *ngIf="
                    ticketForm.get('notes')?.errors &&
                    (ticketForm.get('notes').dirty ||
                      ticketForm.get('notes').touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="ticketForm.get('notes')?.errors.required">
                      Notes field is required
                    </span>
                  </div>
                </div>
              </div>
              <div class="upload-control">
                <label for="upload">Upload Images (Optional)</label>
                <div class="upload-container">
                  <input
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                    multiple
                    hidden
                    accept="image/*"
                  />
                  <div
                    class="add-image-placeholder"
                    style="cursor: pointer"
                    (click)="fileInput.click()"
                  >
                    <oc-icon
                      [icon]="'blue-plus-circle'"
                      [width]="'24px'"
                      [height]="'24px'"
                    ></oc-icon>
                  </div>
                  <div class="uploaded-images">
                    <div
                      class="uploaded-image"
                      *ngFor="
                        let base64String of ticketForm.get('attachmentsBase64')
                          ?.controls;
                        let j = index
                      "
                    >
                      <div
                        class="remove-image"
                        style="cursor: pointer"
                        (click)="removeImage(j)"
                      >
                        <i class="pi pi-times"></i>
                      </div>
                      <img
                        [src]="
                          base64String.value ? base64String.value : img.src
                        "
                        alt=""
                        #img
                        hideMissing
                        [errorIconURL]="'assets/iamges/missing-image.svg'"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- {{ticketForm.get('categoryId').value | json}} -->
        <div
          class="location-card"
          style="padding: 1.5rem"
          [ngStyle]="{
            'max-height':
              details == null && ticketForm.get('categoryId').value != '1'
                ? '360px'
                : '100%'
          }"
        >
          <div class="header">
            <span>Ticket Location</span>
          </div>
          <p-divider></p-divider>
          <ng-container
            [ngTemplateOutlet]="
              ticketForm.get('categoryId').value == '1'
                ? locationTemplate
                : ticketForm.get('categoryId').value != '1' &&
                  ticketForm.get('categoryId').value != '' &&
                  ticketForm.get('terminalId').value
                ? locationTemplate
                : emptyTemplate
            "
          ></ng-container>
          <ng-template #emptyTemplate>
            <div class="location-template">
              <div class="icon">
                <oc-icon
                  [icon]="'pos-device'"
                  [width]="'71px'"
                  [height]="'66px'"
                ></oc-icon>
              </div>
              <p>
                Details about the location will be provided upon selecting
                terminal.
              </p>
            </div>
          </ng-template>
          <ng-template #locationTemplate>
            <div class="control">
              <label for="nameEn">Phone Number </label>
              <input
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    ticketForm.get('phoneNumber').errors?.required
                }"
                type="text"
                pInputText
                formControlName="phoneNumber"
              />

              <div
                *ngIf="
                  ticketForm.get('phoneNumber').errors &&
                  (ticketForm.get('phoneNumber').dirty ||
                    ticketForm.get('phoneNumber').touched)
                "
                class="invalid-feedback"
              >
                <div class="fs-10 color-red">
                  <span *ngIf="ticketForm.get('phoneNumber').errors.required">
                    Phone Number field is required
                  </span>
                </div>
              </div>
            </div>
            <div class="fields-container">
              <div class="left-control">
                <label for="nameEn">Errand Channel </label>
                <p-dropdown
                  [options]="errandChannels"
                  filter="true"
                  [optionLabel]="'nameEn'"
                  [optionValue]="'id'"
                  [showClear]="true"
                  formControlName="errandChannelId"
                  placeholder="Select Errand Channel"
                ></p-dropdown>

                <div
                  *ngIf="
                    ticketForm.get('errandChannelId').errors &&
                    (ticketForm.get('errandChannelId').dirty ||
                      ticketForm.get('errandChannelId').touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span
                      *ngIf="ticketForm.get('errandChannelId').errors.required"
                    >
                      Errand Channel field is required
                    </span>
                  </div>
                </div>
              </div>
              <div class="right-control">
                <label for="nameEn">POS Type </label>
                <p-dropdown
                  [options]="posTypes"
                  filter="true"
                  [optionLabel]="'nameEn'"
                  [optionValue]="'id'"
                  [showClear]="true"
                  formControlName="posTypeId"
                  placeholder="Select POS Type"
                ></p-dropdown>

                <div
                  *ngIf="
                    ticketForm.get('posTypeId').errors &&
                    (ticketForm.get('posTypeId').dirty ||
                      ticketForm.get('posTypeId').touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="ticketForm.get('posTypeId').errors.required">
                      POS Type field is required
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="col-5 pr-0">
                <div class="flex flex-column gap-2">
                  <label style="color: #798693" for="longitudeInput"
                    >Long
                    <label *ngIf="false" for="" style="color: red !important"
                      >*</label
                    ></label
                  >
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty': f.longitudeInput?.errors?.required
                    }"
                    type="text"
                    pInputText
                    formControlName="longitudeInput"
                  />
                </div>
              </div>
              <div class="col-5">
                <div class="flex flex-column gap-2">
                  <label style="color: #798693" for="latitudeInput"
                    >Lat
                    <label for="" *ngIf="false" style="color: red !important"
                      >*</label
                    >
                  </label>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty': f.latitudeInput?.errors?.required
                    }"
                    type="text"
                    pInputText
                    formControlName="latitudeInput"
                  />
                </div>
              </div>
              <div class="col-2">
                <div class="add-item mt-5" (click)="pinLocation()">
                  <span class="add-btn">
                    <i class="pi pi-map-marker" style="font-size: 13px"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="map-container">
              <oc-map [mode]="formType" [coordinates]="coordinates"></oc-map>
            </div>
            <div class="location-form p-20">
              <div>
                <div class="location-container fs-11 mt-3">
                  <div class="col-6 coordinate">
                    <span class="mt-2"
                      >Long: {{ ticketForm?.get("longitude").value }}</span
                    >
                  </div>
                  <p-divider class="divider" />
                  <div class="col-6 coordinate">
                    <span class="mt-2"
                      >Lat: {{ ticketForm?.get("latitude").value }}</span
                    >
                  </div>
                </div>
                <div
                  *ngIf="
                    !ticketForm.get('latitude').value ||
                    !ticketForm.get('longitude').value
                  "
                >
                  <span style="color: red; font-size: 10px"
                    >Please select location on map!</span
                  >
                </div>
              </div>
              <div class="grid mt-2">
                <div class="col-6">
                  <div class="flex flex-column gap-2">
                    <label for="regionId"
                      >Region <span class="p-error"> * </span>
                    </label>
                    <p-dropdown
                      (onChange)="regionChanged($event)"
                      [options]="regions"
                      formControlName="regionId"
                      [optionValue]="'id'"
                      optionLabel="nameEn"
                      filter="true"
                    />
                    <div
                      *ngIf="
                        ticketForm.get('regionId').errors &&
                        (ticketForm.get('regionId').dirty ||
                          ticketForm.get('regionId').touched)
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="fs-10 color-red"
                        *ngIf="ticketForm.get('regionId')?.errors.required"
                      >
                        Region field is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="flex flex-column gap-2">
                    <label for="cityId"
                      >City <span class="p-error"> * </span>
                    </label>
                    <p-dropdown
                      [options]="cities"
                      (onChange)="cityChanged($event)"
                      [optionValue]="'id'"
                      optionLabel="nameEn"
                      filter="true"
                      formControlName="cityId"
                    />
                    <div
                      *ngIf="
                        ticketForm.get('cityId').errors &&
                        (ticketForm.get('cityId').dirty ||
                          ticketForm.get('cityId').touched)
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="fs-10 color-red"
                        *ngIf="ticketForm.get('cityId').errors.required"
                      >
                        City field is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid pt-10">
                <div class="col-6">
                  <div class="flex flex-column gap-2">
                    <label for="zoneId"
                      >Zone <span class="p-error"> * </span>
                    </label>
                    <p-dropdown
                      [options]="zones"
                      formControlName="zoneId"
                      [optionValue]="'id'"
                      optionLabel="nameEn"
                      filter="true"
                      (onChange)="zoneValueChange()"
                    />
                    <div
                      *ngIf="
                        ticketForm.get('zoneId').errors &&
                        (ticketForm.get('zoneId').dirty ||
                          ticketForm.get('zoneId').touched)
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="fs-10 color-red"
                        *ngIf="ticketForm.get('zoneId').errors.required"
                      >
                        Zone field is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid pt-10">
                <div class="col-12">
                  <div class="flex flex-column gap-2">
                    <label for="address">Address </label>
                    <input
                      [ngClass]="{
                        'ng-invalid ng-dirty':
                          ticketForm.get('address')?.errors?.required
                      }"
                      type="text"
                      pInputText
                      formControlName="address"
                    />
                  </div>
                </div>
              </div>
              <div class="grid pt-10">
                <div class="col-12">
                  <div class="flex flex-column gap-2">
                    <label for="landMark">Landmark</label>
                    <input
                      [ngClass]="{
                        'ng-invalid ng-dirty':
                          ticketForm.get('landMark')?.errors?.required
                      }"
                      type="text"
                      pInputText
                      formControlName="landMark"
                    />
                    <!-- <div
                      *ngIf="
                        ticketForm.get('landMark').errors &&
                        (ticketForm.get('landMark').dirty ||
                          ticketForm.get('landMark').touched)
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="fs-10 color-red"
                        *ngIf="ticketForm.get('landMark').errors.required"
                      >
                        Landmark field is required
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
