<div [formGroup]="form">
  <div class="p-grid ml-2 m-2">
    <div class="p-col" style="text-align: right">
      <span
        (click)="backToList()"
        class="mt-2 ml-3 header-left"
        style="color: #0080f9; cursor: pointer"
        >Devices</span
      >
      <span class="mt-2 ml-2 mr-2 header-left">></span>
      <span class="mt-2 header-left">Deploy Device</span>
      <p-button
        class="mr-3 cancel-button"
        label="Cancel"
        [text]="true"
        (click)="backToList()"
        size="small"
      />

      <p-button
        (click)="submit()"
        [disabled]="!form?.valid"
        label="Save"
        size="small"
      >
      </p-button>
    </div>
  </div>

  <hr class="header-divider" />

  <div class="add-form">
    <form [formGroup]="form">
      <div class="grid d-flex inputs-div">
        <div class="col-12 pt-3 pr-3 pl-3">
          <div class="header">
            <span>Deployment Details</span>
          </div>
          <p-divider></p-divider>
        </div>
        <div style="margin-top: -40px" class="col-12 p-0">
          <div class="p-20 flex flex-wrap">
            <!-- deploymentDate (Input) -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="deploymentDate"
                  >Deployment Date <span class="p-error">*</span></label
                >
                <p-calendar
                  formControlName="deploymentDate"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  inputId="icondisplay"
                />

                <div
                  *ngIf="
                    f.deploymentDate.errors &&
                    (f.deploymentDate.touched || f.deploymentDate.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.deploymentDate.errors.required"
                  >
                    Deployment Date is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8"></div>
            <!-- merchantName (Input) -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="merchantName"
                  >Merchant Name <span class="p-error">*</span></label
                >
                <input
                  pInputText
                  formControlName="merchantName"
                  [ngClass]="{
                    'ng-invalid ng-dirty': f.merchantName?.errors?.required
                  }"
                />
                <div
                  *ngIf="
                    f.merchantName.errors &&
                    (f.merchantName.touched || f.merchantName.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.merchantName.errors.required"
                  >
                    Merchant Name is required
                  </div>
                </div>
              </div>
            </div>

            <!-- mId (Input) -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="mId">MID <span class="p-error">*</span></label>
                <input
                  pInputText
                  formControlName="mId"
                  [ngClass]="{ 'ng-invalid ng-dirty': f.mId?.errors?.required }"
                />
                <div
                  *ngIf="f.mId.errors && (f.mId.touched || f.mId.dirty)"
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red" *ngIf="f.mId.errors.required">
                    MID is required
                  </div>
                </div>
              </div>
            </div>

            <!-- tid (Input) -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="tid">TID <span class="p-error">*</span></label>
                <input
                  pInputText
                  formControlName="tid"
                  [ngClass]="{ 'ng-invalid ng-dirty': f.tid?.errors?.required }"
                />
                <div
                  *ngIf="f.tid.errors && (f.tid.touched || f.tid.dirty)"
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red" *ngIf="f.tid.errors.required">
                    TID is required
                  </div>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="merchantPhoneNumber"
                  >Merchant Phone Number <span class="p-error">*</span></label
                >
                <input
                  pInputText
                  formControlName="merchantPhoneNumber"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      f.merchantPhoneNumber?.errors?.required
                  }"
                />
                <div
                  *ngIf="
                    f.merchantPhoneNumber.errors &&
                    (f.merchantPhoneNumber.touched ||
                      f.merchantPhoneNumber.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.merchantPhoneNumber.errors.required"
                  >
                    Merchant Phone Number is required
                  </div>
                </div>
              </div>
            </div>

            <!-- setupAmount (Input) -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="setupAmount"
                  >Setup Amount <span class="p-error">*</span></label
                >
                <input
                  pInputText
                  type="number"
                  formControlName="setupAmount"
                  [ngClass]="{
                    'ng-invalid ng-dirty': f.setupAmount?.errors?.required
                  }"
                />
                <div
                  *ngIf="
                    f.setupAmount.errors &&
                    (f.setupAmount.touched || f.setupAmount.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.setupAmount.errors.required"
                  >
                    Setup Amount is required
                  </div>
                </div>
              </div>
            </div>

            <!-- subscriptionAmount (Input) -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="subscriptionAmount"
                  >Subscription Amount <span class="p-error">*</span></label
                >
                <input
                  pInputText
                  type="number"
                  formControlName="subscriptionAmount"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      f.subscriptionAmount?.errors?.required
                  }"
                />
                <div
                  *ngIf="
                    f.subscriptionAmount.errors &&
                    (f.subscriptionAmount.touched || f.subscriptionAmount.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.subscriptionAmount.errors.required"
                  >
                    Subscription Amount is required
                  </div>
                </div>
              </div>
            </div>

            <!-- subscriptionTypeId (Dropdown) -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="subscriptionTypeId"
                  >Subscription Type <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="subscriptionTypes"
                  formControlName="subscriptionTypeId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.subscriptionTypeId.errors &&
                    (f.subscriptionTypeId.touched || f.subscriptionTypeId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.subscriptionTypeId.errors.required"
                  >
                    Subscription Type is required
                  </div>
                </div>
              </div>
            </div>

            <!-- currencyId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="currencyId"
                  >Currency <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="currencies"
                  formControlName="currencyId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.currencyId.errors &&
                    (f.currencyId.touched || f.currencyId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.currencyId.errors.required"
                  >
                    Currency is required
                  </div>
                </div>
              </div>
            </div>

            <!-- paymentMethodId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="paymentMethodId"
                  >Payment Method <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="paymentMethods"
                  formControlName="paymentMethodId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.paymentMethodId.errors &&
                    (f.paymentMethodId.touched || f.paymentMethodId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.paymentMethodId.errors.required"
                  >
                    Payment Method is required
                  </div>
                </div>
              </div>
            </div>

            <!-- paymentStatusId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="paymentStatusId"
                  >Payment Status <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="paymentStatuses"
                  formControlName="paymentStatusId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.paymentStatusId.errors &&
                    (f.paymentStatusId.touched || f.paymentStatusId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.paymentStatusId.errors.required"
                  >
                    Payment Status is required
                  </div>
                </div>
              </div>
            </div>
            <!-- trx_ID (Input) -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="trx_ID"
                  >trx_ID <span class="p-error">*</span></label
                >
                <input pInputText formControlName="trx_ID" />
                <div
                  *ngIf="
                    f.trx_ID.errors && (f.trx_ID.touched || f.trx_ID.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red" *ngIf="f.trx_ID.errors.required">
                    trx_ID is required
                  </div>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="deploymentReceiptSigned"
                  >Deployment Receipt Signed
                  <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="reciptSignedOptions"
                  formControlName="deploymentReceiptSigned"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.deploymentReceiptSigned.errors &&
                    (f.deploymentReceiptSigned.touched ||
                      f.deploymentReceiptSigned.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.deploymentReceiptSigned.errors.required"
                  >
                    Deployment Receipt Signed is required
                  </div>
                </div>
              </div>
            </div>

            <!-- deployedTeamId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="deployedTeamId"
                  >Deployment Team <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="teams"
                  formControlName="deployedTeamId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.deployedTeamId.errors &&
                    (f.deployedTeamId.touched || f.deployedTeamId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.deployedTeamId.errors.required"
                  >
                    Deployment Team is required
                  </div>
                </div>
              </div>
            </div>

            <!-- deployedById -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="deployedById"
                  >Deployed By <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="users"
                  formControlName="deployedById"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.deployedById.errors &&
                    (f.deployedById.touched || f.deployedById.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.deployedById.errors.required"
                  >
                    Deployed By is required
                  </div>
                </div>
              </div>
            </div>

            <!-- conditionId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="conditionId"
                  >Current Condition <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="conditions"
                  formControlName="conditionId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.conditionId.errors &&
                    (f.conditionId.touched || f.conditionId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.conditionId.errors.required"
                  >
                    Current Condition is required
                  </div>
                </div>
              </div>
            </div>

            <!-- Addreess (Input) -->
            <!-- <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="address"
                  >Address <span class="p-error"></span
                ></label>
                <input pInputText formControlName="address" />
                <div
                  *ngIf="
                    f.address.errors && (f.address.touched || f.address.dirty)
                  "
                  class="invalid-feedback"
                ></div>
              </div>
            </div> -->

            <div class="col-8">
              <div class="flex flex-column gap-2">
                <label for="failReasonId">Address</label>
                <textarea
                  rows="3"
                  cols="30"
                  pInputTextarea
                  formControlName="address"
                  style="height: 80px"
                >
                </textarea>
              </div>
            </div>

            <div class="col-12">
              <div class="flex flex-column gap-2">
                <label for="failReasonId">Note</label>
                <textarea
                  rows="3"
                  cols="30"
                  pInputTextarea
                  formControlName="notes"
                  style="height: 80px"
                >
                </textarea>
              </div>
            </div>
          </div>
          <div class="pl-4 pr-4 pb-2">
            <div class="grid">
              <div class="col-12">
                <span class="upload-file-header">Upload Files</span>
                <span style="color: #cecece; font-size: 10px">(Optional)</span>
              </div>
            </div>

            <div class="grid">
              <div class="col-1">
                <div (click)="fileInput.click()" class="image-icon">
                  <oc-icon
                    style="margin: auto"
                    [icon]="'plus-icon'"
                    [width]="'20px'"
                    [height]="'20px'"
                    [scale]="1.1"
                  ></oc-icon>

                  <input
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                    accept="*"
                    hidden
                  />
                </div>
              </div>
              <div
                *ngFor="let item of files; let i = index"
                class="col-1 file-container"
              >
                <button
                  (click)="removeImage(item)"
                  class="small-rounded-button"
                >
                  X
                </button>
                <img
                  *ngIf="item?.isImage && !item.url"
                  style="width: 50px; height: 50px"
                  [src]="item?.data"
                  alt="Base64 Image"
                />
                <img
                  *ngIf="item?.isImage && item.url"
                  style="width: 50px; height: 50px"
                  [src]="item?.url"
                  alt="Base64 Image"
                />
                <div class="image-icon" *ngIf="!item?.isImage">
                  <i class="pi pi-file" style="margin: auto"></i>
                </div>

                <div>
                  <span>{{ "File " + (i + 1) }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid d-flex inputs-div mt-3">
        <div class="col-12 pt-3 pr-3 pl-3">
          <div class="header">
            <span>Deployment Addons</span>
          </div>
          <p-divider></p-divider>
        </div>
        <div style="margin-top: -40px" class="col-12 p-0">
          <div class="p-20 flex flex-wrap">
            <!-- receiptModelTypeId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="receiptModelTypeId"
                  >Receipt Model <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="receiptModels"
                  formControlName="receiptModelTypeId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.receiptModelTypeId.errors &&
                    (f.receiptModelTypeId.touched || f.receiptModelTypeId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.receiptModelTypeId.errors.required"
                  >
                    Receipt Model is required
                  </div>
                </div>
              </div>
            </div>
            <!-- cableModelTypeId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="cableModelTypeId"
                  >Cable Model <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="cableModels"
                  formControlName="cableModelTypeId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.cableModelTypeId.errors &&
                    (f.cableModelTypeId.touched || f.cableModelTypeId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.cableModelTypeId.errors.required"
                  >
                    Cable Model is required
                  </div>
                </div>
              </div>
            </div>
            <!-- posChargerModelTypeId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="posChargerModelTypeId"
                  >POS Charger <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="posChargerModels"
                  formControlName="posChargerModelTypeId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.posChargerModelTypeId.errors &&
                    (f.posChargerModelTypeId.touched ||
                      f.posChargerModelTypeId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.posChargerModelTypeId.errors.required"
                  >
                    POS Charger is required
                  </div>
                </div>
              </div>
            </div>
            <!-- simCardModelTypeId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="simCardModelTypeId"
                  >SIM Card <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="simCardModels"
                  formControlName="simCardModelTypeId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.simCardModelTypeId.errors &&
                    (f.simCardModelTypeId.touched || f.simCardModelTypeId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.simCardModelTypeId.errors.required"
                  >
                    SIM Card is required
                  </div>
                </div>
              </div>
            </div>

            <!-- paperRollModelTypeId -->
            <div class="col-4">
              <div class="flex flex-column gap-2">
                <label for="paperRollModelTypeId"
                  >Paper Roll <span class="p-error">*</span></label
                >
                <p-dropdown
                  [options]="paperRollModels"
                  formControlName="paperRollModelTypeId"
                  [optionValue]="'id'"
                  optionLabel="nameEn"
                  filter="true"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    f.paperRollModelTypeId.errors &&
                    (f.paperRollModelTypeId.touched ||
                      f.paperRollModelTypeId.dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    class="fs-10 color-red"
                    *ngIf="f.paperRollModelTypeId.errors.required"
                  >
                    Paper Roll is required
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
