@import "../../../../assets/styles/mixins";

:host .view-container {
  // display: flex;
  font-size: 12px;
  @include breakpoints(up-md) {
    font-size: 10px;
  }
  @include breakpoints(up-lg) {
    font-size: 12px;
  }
  // margin: 0.5rem;
  // gap: 1rem;
  &--card {
    //   width: 30%;
    padding: 0;
    @extend .box-border;
    margin-top: -5px;
    &--header-container {
      @extend .wave;
      height: 140px;
      &.merchantHeight {
        @include breakpoints(up-xl) {
          height: 106px;
          background-image: url("../../../../assets/icons/view-card-header-sm.svg");
        }
        @include breakpoints(up-xxl) {
          height: 140px;
          background-image: url("../../../../assets/icons/view-card-header-sm.svg");
        }
      }
      &.terminalHeight {
        @include breakpoints(up-xl) {
          height: 152px;
          background-image: url("../../../../assets/icons/view-card-header-lg.svg");
        }
        @include breakpoints(up-xxl) {
          height: 198px;
          background-image: url("../../../../assets/icons/view-card-header-lg.svg");
        }
      }

      &--header {
        font-size: 16px;
        @include breakpoints(up-xl) {
          font-size: 14px;
        }
        @include breakpoints(up-xxl) {
          font-size: 16px;
        }

        padding: 0.5rem 0 0 1rem;
        @include breakpoints(up-xxl) {
          padding: 1rem 0 0 1rem;
        }
        // @include breakpoints(up-md) {
        //   padding: 0.5rem 0 0 0.5rem;
        // }
        color: #fff;
        &--text {
          padding-top: 0.5rem;
          @include breakpoints(up-xl) {
            padding-top: 0.25rem;
          }
          @include breakpoints(up-xxl) {
            padding-top: 0.5rem;
          }
          //   padding-left: 0.5rem;
          &.icon {
            display: flex;
            gap: 4px;
          }
        }
        &--text-label {
          display: flex;
          align-items: center;
          font-size: 14px;
          @include breakpoints(up-xl) {
            font-size: 12px;
          }
          @include breakpoints(up-xxl) {
            font-size: 14px;
          }

          font-weight: 400;
          font-family: "public-sans";
          padding-top: 0.5rem;
          @include breakpoints(up-xl) {
            padding-top: 0.25rem;
          }
          @include breakpoints(up-xxl) {
            padding-top: 0.5rem;
          }
          span {
            padding-left: 4px;
          }
        }
        &--title {
          padding-bottom: 8px;
          label {
            color: #99ccfd;
            font-size: 14px;
            @include breakpoints(up-xl) {
              font-size: 12px;
            }
            @include breakpoints(up-xxl) {
              font-size: 14px;
            }

            font-weight: 400;
            font-family: "public-sans";
          }
          span {
            padding-left: 4px;
            font-size: 14px;
            @include breakpoints(up-xl) {
              font-size: 12px;
            }
            @include breakpoints(up-xxl) {
              font-size: 14px;
            }

            font-weight: 400;
            font-family: "public-sans";
          }
        }
        p-divider ::ng-deep .p-divider {
          width: 96%;
          right: 0.5rem;
          margin: 0.25rem 0 1rem 0;
          &::before {
            border-top: 1px solid #e5e7eb79;
          }
        }
      }
    }
    &--header-custom-container {
      // @extend .wave;
      background: linear-gradient(93.69deg, #0080f9 0%, #66b3fb 99.27%);
      height: 175px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      &--header {
        font-size: 16px;
        @include breakpoints(up-xl) {
          font-size: 14px;
        }
        @include breakpoints(up-xxl) {
          font-size: 16px;
        }

        padding: 1rem 0 0 1rem;
        @include breakpoints(up-xxl) {
          padding: 1rem 0 0 1.5rem;
        }
        // @include breakpoints(up-md) {
        //   padding: 0.5rem 0 0 0.5rem;
        // }
        color: #fff;
        &--text {
          padding-top: 0.5rem;
          @include breakpoints(up-xl) {
            padding-top: 0.25rem;
          }
          @include breakpoints(up-xxl) {
            padding-top: 0.5rem;
          }
          //   padding-left: 0.5rem;
          &.icon {
            display: flex;
            gap: 4px;
          }
        }
        &--text-label {
          display: flex;
          align-items: center;
          font-size: 14px;
          @include breakpoints(up-xl) {
            font-size: 12px;
          }
          @include breakpoints(up-xxl) {
            font-size: 14px;
          }

          font-weight: 400;
          font-family: "public-sans";
          padding-top: 0.5rem;
          @include breakpoints(up-xl) {
            padding-top: 0.25rem;
          }
          @include breakpoints(up-xxl) {
            padding-top: 0.5rem;
          }
          span {
            padding-left: 4px;
          }
        }
        &--title {
          padding-bottom: 8px;
          label {
            color: #99ccfd;
            font-size: 14px;
            @include breakpoints(up-xl) {
              font-size: 12px;
            }
            @include breakpoints(up-xxl) {
              font-size: 14px;
            }

            font-weight: 400;
            font-family: "public-sans";
          }
          span {
            padding-left: 4px;
            font-size: 14px;
            @include breakpoints(up-xl) {
              font-size: 12px;
            }
            @include breakpoints(up-xxl) {
              font-size: 14px;
            }

            font-weight: 400;
            font-family: "public-sans";
          }
        }
        p-divider ::ng-deep .p-divider {
          width: 98%;
          right: 0.5rem;
          margin: 0.25rem 0;
          &::before {
            border-top: 1px solid #66b3fb;
          }
        }
        &--card-divider {
          background: url("../../../../assets/icons/ticket-card-divider.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: 50px;
          margin-bottom: 1.5rem;
          margin-top: -8px;
        }
      }
    }
    &--custom-details {
      padding: 0.25rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 0.5rem;
      @include breakpoints(up-xl) {
        padding-top: 0.75rem;
      }
      @include breakpoints(up-xxl) {
        padding-top: 2.25rem;
      }
      &--category-item {
        &--text {
          //styleName: Desktop/Headline/H3-20-SM;
          font-family: "public-sans";
          font-size: 20px;
          font-weight: 600;
          color: #3399fa;
        }
      }
      p-divider ::ng-deep .p-divider {
        width: 100%;
        right: 0.15rem;
        margin: 0.15rem 0;
        &::before {
          border-top: 1px solid #edeff1;
        }
      }
      &--errand-type-container {
        &--title {
          font-family: "public-sans";
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          color: #798693;
          padding-bottom: 0.5rem;
        }
        &--items {
          &--item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--name {
              display: flex;
              align-items: center;
              &--bullet {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: #0080f9;
                margin-right: 0.25rem;
                &--dot {
                  height: 6px;
                  width: 6px;
                  border-radius: 50%;
                  background-color: #fff;
                }
              }
              &--text {
                //styleName: Desktop/Body/Md-14-R;
                font-family: "public-sans";
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
              }
            }
            &--quantity {
              //styleName: Desktop/Body/Sm-12-R;
              font-family: "public-sans";
              font-size: 12px;
              font-weight: 400;
              color: #798693;
            }
          }
        }
      }
    }
    &--details {
      padding: 0.25rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 0.5rem;
      @include breakpoints(up-xl) {
        padding-top: 0.75rem;
      }
      @include breakpoints(up-xxl) {
        padding-top: 0.25rem;
      }
      &--item {
        display: flex;
        justify-content: space-between;
        div {
          &:first-child {
            width: 20%;
            white-space: nowrap;
          }
          &:last-child {
            width: 60%;
            justify-content: flex-start;
          }
        }
      }
      p-divider ::ng-deep .p-divider {
        width: 100%;
        right: 0.15rem;
        margin: 0.25rem 0;
        &::before {
          border-top: 1px solid #edeff1;
        }
      }
    }
    &--location-details-container {
      // &--details {
      padding-left: 1rem;
      display: flex;
      gap: 1rem;
      padding-top: 1rem;
      &--icon-container {
        &--icon {
          width: 40px;
          height: 40px;
          background: #cce6fe;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }
      }
      &--details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &--text {
          color: #21252994;
          font-size: 14px;
          @include breakpoints(up-xl) {
            font-size: 12px;
          }
          @include breakpoints(up-xxl) {
            font-size: 14px;
          }
          font-weight: 400;
          font-family: "public-sans";
        }
        &--item {
          display: flex;
          gap: 1rem;
          align-items: center;
          &--label {
            width: 20%;
            color: #798693;
            font-size: 12px;
            @include breakpoints(up-xl) {
              font-size: 10px;
            }
            @include breakpoints(up-xxl) {
              font-size: 12px;
            }
            font-weight: 400;
            font-family: "public-sans";
          }
          &--text {
            width: 80%;
            color: #212529;
            font-size: 14px;
            @include breakpoints(up-xl) {
              font-size: 12px;
            }
            @include breakpoints(up-xxl) {
              font-size: 14px;
            }
            font-weight: 400;
            font-family: "public-sans";
            // padding-left: 1rem;
          }
        }
        // }
      }
    }
    &--map-container {
      padding: 0.5rem 1rem;
      ::ng-deep {
        .leaflet-map-container {
          height: 167px;
        }
        .leaflet-container {
          border-radius: 5px;
          height: 167px;
        }
      }
    }
    &--performance-container {
      padding-left: 1rem;
      padding-bottom: 1rem;
      &--title {
        font-size: 14px;
        @include breakpoints(up-xl) {
          font-size: 12px;
        }
        @include breakpoints(up-xxl) {
          font-size: 14px;
        }
        font-weight: 400;
        font-family: "public-sans";
        color: #212529;
        padding-top: 0.5rem;
      }
      &--item {
        padding-top: 1rem;
        &--progress {
          &--title {
            font-size: 12px;
            @include breakpoints(up-xl) {
              font-size: 10px;
            }
            @include breakpoints(up-xxl) {
              font-size: 12px;
            }
            line-height: 16px;
            font-weight: 400;
            font-family: "public-sans";
            color: #798693;
            padding-bottom: 8px;
          }
          &--details {
            display: flex;
            gap: 12px;
            &--percentage {
              width: 10%;
            }
            &--bar {
              width: 80%;
            }
            &--count {
              width: 10%;
            }
          }
        }
      }
    }
    &--chart-container {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      &--container {
        width: 70%;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        &--icon {
          width: 40px;
          height: 40px;
          background-color: #cce6fe;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }
        &--details {
          display: flex;
          flex-direction: column;
          gap: 4px;
          &--title {
            color: #212529b2;
            font-size: 14px;
            @include breakpoints(up-xl) {
              font-size: 12px;
            }
            @include breakpoints(up-xxl) {
              font-size: 14px;
            }
            font-weight: 400;
            font-family: "public-sans";
          }
          &--count {
            font-size: 24px;
            @include breakpoints(up-xl) {
              font-size: 18px;
            }
            @include breakpoints(up-xxl) {
              font-size: 24px;
            }
            font-weight: 600;
            font-family: "public-sans";
            color: #212529b2;
          }
        }
      }
      &--duration {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #00875a;
        font-size: 12px;
        @include breakpoints(up-xl) {
          font-size: 10px;
        }
        @include breakpoints(up-xxl) {
          font-size: 12px;
        }
        font-family: "public-sans";
        font-weight: 400;
        align-items: center;
      }
    }
    &--image {
      background: url("../../../../assets/icons/chart-image.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 123px;
      margin-top: -16px;
    }
  }
  &--list {
    width: 70%;
  }
}

.wave {
  background: url("../../../../assets/icons/view-card-header-lg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // height: 152px;
  margin-top: -4px;
}
.box-border {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the offset, blur, and color as needed */
}
