<div class="view-container">
  <div class="view-container--card">
    <div
      [ngClass]="{
        merchantHeight: cid == 'merchant',
        terminalHeight: cid == 'terminal',
        ticketHeight: cid == 'ticket',
        'view-container--card--header-container':
          cid == 'terminal' || cid == 'merchant',
        'view-container--card--header-custom-container': cid == 'ticket'
      }"
    >
      <ng-container
        [ngTemplateOutlet]="
          cid == 'merchant' ? merchant : cid == 'terminal' ? terminal : ticket
        "
      ></ng-container>
      <ng-template #merchant>
        <div class="view-container--card--header-container--header">
          <div class="view-container--card--header-container--header--text">
            {{ details?.merchantNameEN }}
          </div>
          <div class="view-container--card--header-container--header--text">
            {{ details?.merchantNameAR }}
          </div>
          <div
            class="view-container--card--header-container--header--text icon"
          >
            <oc-icon
              [icon]="'buildings'"
              [width]="'20px'"
              [height]="'20px'"
            ></oc-icon>
            {{ details?.zoneEn }}
          </div>
        </div>
      </ng-template>
      <ng-template #terminal>
        <div class="view-container--card--header-container--header">
          <div class="view-container--card--header-container--header--title">
            <label for="terminalId">Terminal ID :</label>
            <span>{{ details?.terminalId }}</span>
          </div>
          <p-divider></p-divider>
          <div class="view-container--card--header-container--header--text">
            <label for="terminalId">{{ details?.merchantNameEN }}</label>
          </div>
          <div class="view-container--card--header-container--header--text">
            <label for="terminalId">{{ details?.merchantNameAR }}</label>
          </div>
          <div
            class="view-container--card--header-container--header--text-label"
          >
            <label for="terminalId">Merchant ID:</label>
            <span>{{ details?.merchantNumber }}</span>
          </div>
        </div>
      </ng-template>
      <ng-template #ticket>
        <div class="view-container--card--header-custom-container--header">
          <div
            class="view-container--card--header-custom-container--header--title"
          >
            <label for="terminalId">Ticket ID :</label>
            <span>{{ details?.id }}</span>
          </div>
          <p-divider></p-divider>
          <div
            class="view-container--card--header-custom-container--header--text"
          >
            <label for="merchantNameEn">{{ details?.merchantEn }}</label>
          </div>
          <div
            class="view-container--card--header-custom-container--header--text"
          >
            <label for="merchantNameAr">{{ details?.merchantAr }}</label>
          </div>
          <div
            class="view-container--card--header-custom-container--header--text-label"
          >
            <label for="merchantId">Merchant ID:</label>
            <span>{{ details?.merchantNumber }}</span>
          </div>
          <div
            class="view-container--card--header-custom-container--header--text-label"
            *ngIf="details?.categoryNameEn != 'Deployment'"
          >
            <label for="merchantId">Terminal ID:</label>
            <span>{{
              details?.terminalNumber ? details?.terminalNumber : "-"
            }}</span>
          </div>

          <div
            class="view-container--card--header-custom-container--header--text-label"
            *ngIf="details?.categoryNameEn != 'Deployment'"
          >
            <label for="merchantId">Phone Number:</label>
            <span>{{ details?.phoneNumber ? details?.phoneNumber : "-" }}</span>
          </div>
        </div>
        <div
          class="view-container--card--header-custom-container--header--card-divider"
        ></div>
      </ng-template>
    </div>
    <div
      [ngClass]="{
        'view-container--card--details': cid == 'merchant' || cid == 'terminal',
        'view-container--card--custom-details': cid == 'ticket'
      }"
    >
      <ng-container
        [ngTemplateOutlet]="cid == 'ticket' ? ticketDetails : defaultDetails"
      >
        <ng-template #defaultDetails>
          <div class="view-container--card--details--item">
            <div class="color-info">Reference</div>
            <div class="">{{ details?.reference }}</div>
          </div>
          <div class="view-container--card--details--item">
            <div class="color-info">Merchant ID</div>
            <div class="">
              {{
                cid == "merchant"
                  ? details?.merchantId
                  : details?.merchantNumber
              }}
            </div>
          </div>
          <div class="view-container--card--details--item">
            <div class="color-info">Sales Agent</div>
            <div class="">
              {{ details?.salesAgent }}
            </div>
          </div>
          <div class="view-container--card--details--item">
            <div class="color-info">Service Agent</div>
            <div class="">
              {{ details?.serviceAgent }}
            </div>
          </div>

          <div class="view-container--card--details--item">
            <div class="color-info">Phone Number</div>
            <div class="">
              {{ details?.phoneNumber ? details?.phoneNumber : "-" }}
            </div>
          </div>

          <div class="view-container--card--details--item">
            <div class="color-info">Created by</div>
            <div class="">{{ details?.createdBy }}</div>
          </div>
          <div class="view-container--card--details--item">
            <div class="color-info">Created at</div>
            <div class="">
              {{ details?.createdAt | dateFixer | date : "dd-MM-yyyy" }}
            </div>
          </div>
        </ng-template>
        <ng-template #ticketDetails>
          <div class="view-container--card--custom-details--category-item">
            <!-- <div class="color-info">Reference</div> -->
            <div
              class="view-container--card--custom-details--category-item--text"
            >
              {{ details?.categoryNameEn }}
            </div>
          </div>
          <div
            class="view-container--card--custom-details--errand-type-container"
          >
            <div
              class="view-container--card--custom-details--errand-type-container--title"
            >
              Errand Type
            </div>
            <div
              class="view-container--card--custom-details--errand-type-container--items"
            >
              <div
                class="view-container--card--custom-details--errand-type-container--items--item"
                *ngFor="let item of details?.errandType"
              >
                <div
                  class="view-container--card--custom-details--errand-type-container--items--item--name"
                >
                  <div
                    class="view-container--card--custom-details--errand-type-container--items--item--name--bullet"
                  >
                    <div
                      class="view-container--card--custom-details--errand-type-container--items--item--name--bullet--dot"
                    ></div>
                  </div>
                  <div
                    class="view-container--card--custom-details--errand-type-container--items--item--name--text"
                  >
                    <span>{{ item?.errandTypeEn }}</span>
                  </div>
                </div>
                <div
                  class="view-container--card--custom-details--errand-type-container--items--item--quantity"
                >
                  <label for="quantity"> Qty:&nbsp; {{ item.quantity }}</label>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <p-divider />
    </div>
    <div class="view-container--card--location-details-container">
      <div
        class="view-container--card--location-details-container--icon-container"
      >
        <div
          class="view-container--card--location-details-container--icon-container--icon"
        >
          <oc-icon
            [icon]="'map-pin'"
            [width]="'20px'"
            [height]="'20px'"
          ></oc-icon>
        </div>
      </div>
      <div class="view-container--card--location-details-container--details">
        <div class="view-container--card--location-details-container--details">
          <span
            class="view-container--card--location-details-container--details--text"
          >
            <ng-container [ngSwitch]="cid">
              <ng-container *ngSwitchCase="'merchant'"
                >{{ details?.regionEn }} - {{ details?.cityEn }} -
                {{ details?.zoneEn }}
              </ng-container>
              <ng-container *ngSwitchCase="'terminal'">
                {{ details?.region }} - {{ details?.city }} -
                {{ details?.zone }}
              </ng-container>

              <ng-container *ngSwitchCase="'ticket'">
                {{ details?.regionEn }} - {{ details?.cityEn }} -
                {{ details?.zoneEn }}
              </ng-container>
            </ng-container>
          </span>
          <div
            class="view-container--card--location-details-container--details--item"
          >
            <label
              class="view-container--card--location-details-container--details--item--label"
              for="address"
              >Address:</label
            >
            <span
              class="view-container--card--location-details-container--details--item--text"
              >&nbsp;{{ details?.address }}</span
            >
          </div>
          <div
            class="view-container--card--location-details-container--details--item"
          >
            <label
              class="view-container--card--location-details-container--details--item--label"
              for="landmark"
              >Landmark:</label
            >
            <span
              class="view-container--card--location-details-container--details--item--text"
              >{{ details?.landMark }}</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="view-container--card--map-container">
      <oc-map [mode]="formType" [coordinates]="coordinates"></oc-map>
    </div>
    <p-divider />
    <div
      class="view-container--card--performance-container"
      *ngIf="cid == 'merchant'"
    >
      <div
        for="perfomance"
        class="view-container--card--performance-container--title"
      >
        Merchant performance
      </div>
      <div class="view-container--card--performance-container--item">
        <div
          class="view-container--card--performance-container--item--progress"
        >
          <div
            class="view-container--card--performance-container--item--progress--title"
          >
            Successful visit
          </div>
          <div
            class="view-container--card--performance-container--item--progress--details"
          >
            <span
              class="view-container--card--performance-container--item--progress--details--percentage"
              >{{
                details?.totalVisits
                  ? details?.successVisits / details?.totalVisits
                  : 0
              }}%</span
            >
            <div
              class="view-container--card--performance-container--item--progress--details--bar"
            >
              <p-progressBar
                [value]="details?.successVisits / details?.totalVisits"
              >
                <ng-template pTemplate="content" let-value> </ng-template>
              </p-progressBar>
            </div>
            <span
              class="view-container--card--performance-container--item--progress--details--count"
              >{{ details?.totalVisits }}</span
            >
          </div>
        </div>
      </div>
      <div class="view-container--card--performance-container--item">
        <div
          class="view-container--card--performance-container--item--progress"
        >
          <div
            class="view-container--card--performance-container--item--progress--title"
          >
            Successful Deployments
          </div>
          <div
            class="view-container--card--performance-container--item--progress--details"
          >
            <span
              class="view-container--card--performance-container--item--progress--details--percentage"
              >{{
                details?.totalDeployments
                  ? details?.successDeployments / details?.totalDeployments
                  : 0
              }}%</span
            >
            <div
              class="view-container--card--performance-container--item--progress--details--bar"
            >
              <p-progressBar
                [value]="
                  details?.successDeployments / details?.totalDeployments
                "
              >
                <ng-template pTemplate="content" let-value> </ng-template>
              </p-progressBar>
            </div>
            <span
              class="view-container--card--performance-container--item--progress--details--count"
              >{{ details?.totalDeployments }}</span
            >
          </div>
        </div>
      </div>
      <div class="view-container--card--performance-container--item">
        <div
          class="view-container--card--performance-container--item--progress"
        >
          <div
            class="view-container--card--performance-container--item--progress--title"
          >
            Successful Cancellation
          </div>
          <div
            class="view-container--card--performance-container--item--progress--details"
          >
            <span
              class="view-container--card--performance-container--item--progress--details--percentage"
              >{{
                details?.totalCancellation
                  ? details?.successCancellation / details?.totalCancellation
                  : 0
              }}%</span
            >
            <div
              class="view-container--card--performance-container--item--progress--details--bar"
            >
              <p-progressBar
                [value]="
                  details?.successCancellation / details?.totalCancellation
                "
              >
                <ng-template pTemplate="content" let-value> </ng-template>
              </p-progressBar>
            </div>
            <span
              class="view-container--card--performance-container--item--progress--details--count"
              >{{ details?.totalCancellation }}</span
            >
          </div>
        </div>
      </div>
      <div class="view-container--card--performance-container--item">
        <div
          class="view-container--card--performance-container--item--progress"
        >
          <div
            class="view-container--card--performance-container--item--progress--title"
          >
            Successful Sales
          </div>
          <div
            class="view-container--card--performance-container--item--progress--details"
          >
            <span
              class="view-container--card--performance-container--item--progress--details--percentage"
              >{{
                details?.totolSales
                  ? details?.successSales / details?.totalSales
                  : 0
              }}%</span
            >
            <div
              class="view-container--card--performance-container--item--progress--details--bar"
            >
              <p-progressBar
                [value]="details?.successSales / details?.totalSales"
              >
                <ng-template pTemplate="content" let-value> </ng-template>
              </p-progressBar>
            </div>
            <span
              class="view-container--card--performance-container--item--progress--details--count"
              >{{ details?.totalSales }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <p-divider *ngIf="cid == 'merchant' || cid == 'terminal'" />
    <ng-container
      [ngTemplateOutlet]="
        cid == 'merchant'
          ? merchantStats
          : cid == 'terminal'
          ? terminalStats
          : ticketStats
      "
    >
      <ng-template #merchantStats>
        <div class="view-container--card--chart-container">
          <div class="view-container--card--chart-container--container">
            <div class="view-container--card--chart-container--container--icon">
              <oc-icon
                [icon]="'user-rectangle'"
                [width]="'20px'"
                [height]="'20px'"
              ></oc-icon>
            </div>
            <div
              class="view-container--card--chart-container--container--details"
            >
              <div
                class="view-container--card--chart-container--container--details--title"
              >
                Active Terminals
              </div>
              <div
                class="view-container--card--chart-container--container--details--count"
              >
                {{ details?.activeTerminals }}
              </div>
            </div>
          </div>
          <div class="view-container--card--chart-container--duration">
            <!-- <span class="float-right mt-3" style="color: green"> -->
            {{ details?.thisMonthTerminals }} This month
            <!-- </span> -->
          </div>
        </div>
      </ng-template>
      <ng-template #terminalStats>
        <div class="view-container--card--chart-container">
          <div class="view-container--card--chart-container--container">
            <div class="view-container--card--chart-container--container--icon">
              <oc-icon
                [icon]="'ticket-blue'"
                [width]="'20px'"
                [height]="'20px'"
              ></oc-icon>
            </div>
            <div
              class="view-container--card--chart-container--container--details"
            >
              <div
                class="view-container--card--chart-container--container--details--title"
              >
                Active Tickets
              </div>
              <div
                class="view-container--card--chart-container--container--details--count"
              >
                {{ details?.activeTickets }}
              </div>
            </div>
          </div>
          <div class="view-container--card--chart-container--container">
            <div class="view-container--card--chart-container--container--icon">
              <oc-icon
                [icon]="'user-rectangle'"
                [width]="'20px'"
                [height]="'20px'"
              ></oc-icon>
            </div>
            <div
              class="view-container--card--chart-container--container--details"
            >
              <div
                class="view-container--card--chart-container--container--details--title"
              >
                Agents Visited
              </div>
              <div
                class="view-container--card--chart-container--container--details--count"
              >
                {{ details?.agentVisits }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #ticketStats></ng-template>
    </ng-container>

    <div class="view-container--card--image" *ngIf="cid == 'merchant'"></div>
  </div>
</div>
