<div class="p-grid ml-2 m-2">
  <div class="p-col" style="text-align: right">
    <span
      class="mt-2"
      style="float: left; font-weight: 600; font-family: 'public-sans'"
      >SimCards</span
    >
    <p-button (click)="navigateToAdd()" label="Add SimCard" size="small">
      <span class="ml-1 mr-1 add">
        <i class="pi pi-plus add-icon"></i>
      </span>
    </p-button>
  </div>
</div>
<div class="mt-3">
  <oc-table
    [showSearchBar]="true"
    [url]="{
      getAll: '/SimCard/GetGrid',
      export: '/SimCard/Export',
    }"
    [addButtonLabel]="'Add SimCard'"
    [columns]="columns"
    [buttonsExistance]="tableBtns"
    [actions]="actions"
    [filters]="filters"
    [options]="{
      check: false,
      hasActionMenu: true,
      viewDetails: viewDetails,
      viewDetailsURL: '/main/inventory/simcards/details',
    }"
    [uploadHeader]="'Upload Bulk SimCards'"
    [sampleName]="'ImportWarehouseTemplate.xlsx'"
    [service]="service"
    [modulePageName]="'SimCard'"
    [gridActionsList]="gridActionsList"
  >
  </oc-table>
</div>
