@import "../../../../../../../../assets/styles/mixins";
.custome-dropdown {
  max-height: 250px;
  overflow-y: scroll;
}

.dropdown-item.tableAction {
  cursor: pointer;
  border-bottom: 1px solid #e6ecf5;

  font-size: 14px;
  padding: 8px 2px;
  margin-left: 6px;
  margin-right: 5px;
  width: auto;
  color: #414141;
  font-family: "public-sans";
}
.dropdown-item.tableAction i {
  padding-right: 10px;
  padding-left: 5px;
}

.list {
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
  background-color: #e0e5ee;
}
:host ::ng-deep .multiLabel {
  display: flex;
  gap: 0.5rem;
  .image {
    height: 50px;
    width: 50px;
    img {
      padding: 0.25rem;
      object-fit: contain;
      height: 100%;
      width: 100%;
      border: 1.5px solid #fff;
      border-radius: 50%;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
  }
}
// .dropdown-menu:after {
//   content: '';
//   position: absolute;
//   right: 142px;
//   top: -21px;
//   width: 13px;
//   height: 0;
//   border: solid transparent;
//   border-width: 10px;
//   border-bottom-color: #ffffff;
//   z-index: 0;
//   transform: rotate(0deg);
// }
.dropdown-menu {
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
  margin-left: 13%;
  border-radius: 5px;
  padding-bottom: 5px;
  border: 0;
  color: #414141;
}

.footer {
  background-color: #f4f4f4;
  border: 1px solid #c8c8c8;
  padding: 0.8rem;
}

.filter-date .filter-with-clear {
  position: relative;

  i {
    position: absolute;
    top: 35%;
    cursor: pointer;
  }
}
.completed {
  border-radius: 16px;
  background-color: #e0f1eb;
  padding: 0.25rem 1rem;
  color: #00875a;
}
.in-progress,
.agent-on-way {
  border-radius: 16px;
  background-color: #fef9ee;
  padding: 0.25rem 1rem;
  color: #c59e46;
}
.postponed,
.assigned,
.upcoming {
  border-radius: 16px;
  background-color: #eff8ff;
  padding: 0.25rem 1rem;
  color: #175cd3;
}
.blocked {
  border-radius: 16px;
  background-color: #f2f4f7;
  padding: 0.25rem 1rem;
  color: #344054;
}
.active {
  border-radius: 16px;
  background-color: #e0f1eb;
  padding: 0.25rem 1rem;
  color: #00875a;
}
::ng-deep.swal2-title {
  width: 100%;
}

::ng-deep.swal2-actions {
  justify-content: flex-end !important;

  .btn {
    width: 150px;
  }
}
:host p-table ::ng-deep {
  .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    font-family: "public-sans";
  }
  .p-datatable.p-datatable-sm .p-datatable-tbody td,
  .p-datatable.p-datatable-sm .p-datatable-thead th {
    text-align: center;
  }
  .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    @include breakpoints(up-xl) {
      padding: 0.125rem 0.5rem;
    }
    @include breakpoints(up-xxl) {
      padding: 0.25rem 0.5rem;
    }
  }
  .p-datatable-wrapper {
    &::-webkit-scrollbar {
      width: 5px; /* Width of the scrollbar track */
    }

    &::-webkit-scrollbar-track {
      background: aliceblue; /* Color of the scrollbar track */
      border-radius: 5px; /* Rounded corners for the track */
    }

    &::-webkit-scrollbar-thumb {
      background: #6aa3b9; /* Color of the scrollbar thumb */
      border-radius: 5px; /* Rounded corners for the thumb */
    }
    @include breakpoints(up-xl) {
      max-height: 425px !important;
    }
    @include breakpoints(up-xxl) {
      max-height: 640px !important;
    }
  }
}
.total-records {
  background: #fff;
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  font-family: "public-sans";
  font-weight: 400;
  color: #969696;
}

.alert-header-text {
  font-size: 18px;
  text-align: left;
  text-transform: lowercase;

  &::first-letter {
    text-transform: capitalize;
  }

  &.lang-ar {
    text-align: right;
  }
}

.notes-text {
  width: 100%;
}

.list {
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
  background-color: #e0e5ee;
}

.isDisabled {
  pointer-events: none;
}
.actionButtons {
  color: #2053a6;
  font-size: 15px;
  padding: 10px 9px;
  border-radius: 5px !important;
}
.actionButtons:hover {
  background-color: #dcdcdc;
}
.actionButtons:focus {
  box-shadow: none;
}

.custom-cell {
  min-height: 30px;
  padding: 5px 10px 5px 20px;
  font-size: 14px;
}

.tag {
  color: #2053a6;
  background: aliceblue;
  padding: 5px;
  margin-left: 5px;
  border-radius: 7px;
}
.display {
  display: inline;
}
.col-header {
  color: #969696 !important;
  font-size: 14px;
  line-height: 7px;
  font-family: "public-sans";
}

::ng-deep .p-splitbutton {
  border-radius: 10px;
}

::ng-deep .p-splitbutton-defaultbutton {
  display: none;
}
::ng-deep .p-button-icon-only {
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
}
.paginator-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  display: flex;
  gap: 5px;
}

button.active {
  background-color: #007ad9; /* Adjust to your primary color */
  color: white;
}
::ng-deep p-paginator-bottom p-paginator {
  border-radius: 8px !important;
}

:host p-table ::ng-deep {
  .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    font-family: "public-sans";
    height: 50px;
  }
  .p-datatable.p-datatable-sm .p-datatable-tbody td,
  .p-datatable.p-datatable-sm .p-datatable-thead th {
    text-align: center;
    font-family: "inter-medium";
    font-size: 12px;
    font-weight: 500;
    color: #667085;
  }
  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-last {
    display: none;
  }

  button {
    &:focus {
      outline: none;
      box-shadow: unset;
    }
    &:hover {
      // background: #d0d5dd !important;
    }
  }
}

::ng-deep .p-dialog {
  width: 450px !important;
}
