<div
  style="
    position: fixed;
    z-index: 999999999999999999;
    bottom: 0;
    width: 84%;
    margin-left: -15px;
  "
  [appSecured]="'delete'"
  class="delete-all"
  *ngIf="url && url.deleteAll"
>
  <div
    style="
      background: #2053a6;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 0;
    "
    [ngClass]="{ hide: isCollapsed }"
    class="well well-lg card card-block card-header"
  >
    <h2>{{ selectedIds?.length }} {{ "table.selected" | translate }}</h2>
    <button
      style="background: #4d75b8; color: white !important"
      class="btn"
      (click)="openedDialog = !openedDialog"
    >
      {{ "table.deleteAll" | translate }}
    </button>
  </div>
</div>

<div
  class="add-header"
  style="background-color: white; border-radius: 10px 10px 0px 0px"
>
  <div
    *ngIf="!showHeader && headerName"
    class="mr-3 ml-3"
    style="width: 2300px; font-weight: 600; font-size: 16px"
  >
    <span>
      {{ "moduleNames." + headerName | translate }}
    </span>
  </div>
  <div *ngIf="showSearchBar" style="width: 100%">
    <oc-search-bar
      [addButtonLabel]="addButtonLabel"
      [buttonsExistance]="buttonsExistance"
      [additionalField]="additionalField"
      [searchOnly]="searchOnly"
      (searchFilterTriggered)="searchFilterTriggered($event)"
      (getListData)="getTableDataFromSearchBar()"
      [filtersInput]="filters"
      [url]="url"
      [placeholderSearch]="placeholderSearch"
      [uploadHeader]="uploadHeader"
      [sampleName]="sampleName"
      [hasCustomFilter]="customFilter"
      [gridActionsList]="gridActionsList"
    ></oc-search-bar>
  </div>
  <div *ngIf="false" style="margin-bottom: 0" #top class="add-header">
    <div style="margin-right: 0" class="btns-container">
      <button
        style="width: 126px"
        *ngIf="options.add && !addDropdown?.length"
        type="button"
        (click)="goToAddPage()"
        class="btn btn-primary create-btn"
        appSecured="add"
      >
        <i style="margin-left: 0" class="fas fa-plus-circle"></i>
        {{ "Add" | translate }}
      </button>
    </div>
  </div>
</div>
<div class="table-with-search">
  <form
    style="width: 100%"
    *ngIf="options.globalSearch"
    [formGroup]="globalSearch"
  >
    <div class="search-btn-wrap">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control form-control-lg"
          id="validationCustomUsername"
          [placeholder]="'common.search' | translate"
          aria-describedby="inputGroupPrepend"
          formControlName="search"
        />
      </div>
    </div>
  </form>
  <div *ngIf="toggle" class="table-wrap">
    <oc-list
      [service]="service"
      [clientSide]="clientSide"
      [url]="url"
      [columnsI]="columns"
      [actions]="actions"
      [viewCustomPermission]="viewCustomPermission"
      [id]="id"
      [data]="data"
      [options]="options"
      [noDataText]="noDataText"
      (selected)="getSelected($event)"
      [modulePageName]="modulePageName"
    ></oc-list>
    <!-- TODO: removed due to check unCheck issue [IC-1477] -->
    <!-- [selectedData]="selectedData" -->
  </div>
</div>
