@import "../../../assets/styles/mixins";
::ng-deep .p-panelmenu {
  width: 100% !important;
}
:host ::ng-deep .displayFlex {
  oc-icon {
    i {
      margin-top: 8px;
    }
  }
}
:host ::ng-deep {
  .mat-expansion-panel-header-title {
    oc-icon {
      margin-right: 8px;
    }
  }
}
.grid .sidebar {
  width: 284px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout-button {
  background-color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.header {
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.user-info {
  display: flex;
  align-items: center;
}

::ng-deep .p-panelmenu-header-content {
  background-color: #eef5ff !important;
  border-radius: 4px !important;
  margin-top: 15px;
}
::ng-deep .p-panelmenu .p-panelmenu-content {
  border: none !important;
}
::ng-deep .p-menuitem-text {
  // color: #2053a6;
}
::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
  border: none !important;
}
::ng-deep
  .p-panelmenu
  .p-panelmenu-header
  .p-panelmenu-header-content
  .p-panelmenu-header-action
  .p-submenu-icon {
  display: none;
}
::ng-deep
  .p-panelmenu
  .p-panelmenu-header
  .p-panelmenu-header-content
  .p-panelmenu-header-action
  .p-menuitem-icon {
  background-color: #2053a6;
  padding: 6px;
  color: white;
  border-radius: 5px;
  width: 15%;
  margin-left: 0.5rem;
}
::ng-deep
  .p-panelmenu
  .p-panelmenu-header
  .p-panelmenu-header-content
  .p-panelmenu-header-action {
  padding: 5px !important;
}
::ng-deep
  .p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link {
  color: black;
  font-weight: 300;
  padding-left: 25px;
}
:host ::ng-deep .menu-only-item {
  color: black;
  font-weight: 300;
  display: flex;
  cursor: pointer;
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding-left: 12px;
  }
}
::ng-deep .p-menuitem-link-active {
  span {
    color: #2053a6 !important;
    font-weight: 500 !important;
  }
}
::ng-deep .p-menuitem-link {
  span {
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 15px;
  }
}
::ng-deep
  .p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: none !important;
}
.menu-wrap.closwMenu {
  padding: 0;
  width: 65px;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}
.menu-item {
  margin: 0;
  list-style: none;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
}
.menu-item > .menu-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  height: 35px;
  outline: none;
  font-size: 14px;
  background: transparent;
  color: #202020;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    color: #202020;
    background: #e6ecf5;
  }
  .placeholder,
  .text,
  .direction {
    display: block;
    height: 35px;
    line-height: 35px;
  }
  .placeholder {
    width: 35px;
    text-align: center;
    background-color: #e6ecf5;
    border-radius: 5px;
    margin-right: 10px;
  }
  .text {
    flex: 1;
    margin-right: 5px;
  }
  .direction {
    width: 35px;
    // @include transition(transform 0.2s);
    // @include transform(rotate(0deg));
  }
}
.menu-link.active {
  background-color: white;
  color: #2053a6;
  font-weight: 600;
  font-size: 14px;
}
.dropdown-content {
  display: none;
  background-color: #ffffff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999999999;
  margin-left: 13%;
  border-radius: 5px;
  padding-bottom: 5px;
  position: fixed;
}
.marginRight {
  margin-right: 13%;
  margin-left: 0;
}
.dropdown-content a {
  color: #525252;
  padding: 5px 15px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdownn:hover .dropdown-content {
  display: block;
}
.dropdown-content:after {
  content: "";
  position: absolute;
  right: 148px;
  top: 8px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 8px;
  border-bottom-color: #ffffff;
  z-index: 0;
  transform: rotate(-90deg);
}
.dropdown-contentArabic:after {
  content: "";
  position: absolute;
  right: -16px;
  top: 8px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 8px;
  border-bottom-color: #ffffff;
  z-index: 0;
  transform: rotate(90deg);
}
.menu-link.closeMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  height: 35px;
  outline: none;
  background: transparent;
  border-left: 3px solid transparent;
  color: #202020;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    color: white !important;
    background: white !important;
  }
  .placeholder:hover {
    background-color: #2053a6;
  }
}
.placeholder:hover i {
  color: #ffffff !important;
}
.padding0 {
  padding: 0;
}
.containerSideMenuOpen {
  height: 100%;
}
.width5 {
  width: 5%;
}
.containerSideMenuClosed {
  // position: fixed;
  width: 60px;
  padding: 30px 15px;
  height: 20px;
  text-align: center;
  // z-index: 9999;
  background-color: aliceblue;
}
.labelSideMenu {
  margin: 5px 5px 5px 9px;
  border-bottom: 1px solid #e6ecf5;
  padding-left: 6px;
  padding-bottom: 5px;
}
.postionFixed {
  position: fixed;
}
.borderLeft {
  border-left: 1px solid #e6ecf5;
  margin-left: 10px;
}
.borderRight {
  border-right: 1px solid #e6ecf5;
  margin-right: 10px;
}
.notActive {
  background: white;
  border: none;
  cursor: pointer;
}
.active {
  background: white;
  color: #2053a6;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
.divider {
  border-left: 1px solid #e6ecf5;
}
.accordion-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Adjust as needed */
  overflow-y: auto;
}
:host .menu-container {
  overflow-y: auto;
  max-height: 625px;
  // @include breakpoints(up-sm) {
  //   max-height: 325px;
  // }
  @include breakpoints(up-xl) {
    max-height: 375px;
  }
  @include breakpoints(up-xxl) {
    max-height: 625px;
  }
  &::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar track */
  }

  &::-webkit-scrollbar-track {
    background: aliceblue; /* Color of the scrollbar track */
    border-radius: 5px; /* Rounded corners for the track */
  }

  &::-webkit-scrollbar-thumb {
    background: #6aa3b9; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
  }
}

:host ::ng-deep .mat-accordion {
  flex: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-expansion-panel {
  flex: 1;
}

/* Ensure the bottom container is always at the bottom */
.user-container {
  margin-top: auto;
  background-color: #f0f0f0; /* Example styling */
  padding: 10px;
  text-align: center;
  width: 280px;
}

:host .container {
  @include breakpoints(up-xl) {
    height: calc(100vh - 2.2vh);
  }
  @include breakpoints(up-xxl) {
    height: calc(
      100vh - 1.7vh
    ); /* Set container height to full viewport height */
  }
  display: flex;
  flex-direction: column;
  background: aliceblue;
}
.outlet {
  box-shadow: 0px 4px 12px 0px #0080f933;
}

.user-container {
  position: absolute;
  bottom: 0;
  // width: inherit;
  top: 75%;
  background: aliceblue;
}

.user {
  height: 65px;
  width: 100%;
  background-color: #cce6fe;
  border-radius: 10px;
}

.child-container {
  border-left: 2px solid #99ccfd;
  padding: 0px;
}

.child-branch {
  width: 11px;
  height: 25px;
  display: inline-block;
  border-left: 1px solid #99ccfd;
  border-bottom: 1px solid #99ccfd;
  border-radius: 0px 0px 0px 6px;
  margin-left: -2px;
}

.text-color {
  color: #5b6671;
  font-size: 14px;
}
:host ::ng-deep .active-title-cild {
  color: #003364 !important;
  font-weight: 600;
  font-family: "public-sans";
}
:host ::ng-deep .active-cild {
  color: #003364 !important;
  font-weight: 500;
  font-family: "public-sans";
  &.users {
    i {
      svg {
        path {
          stroke: #2053a6;
        }
      }
    }
  }
  &.terminals {
    i {
      svg {
        path {
          stroke: #2053a6;
        }
      }
    }
  }
  &.tickets {
    i {
      svg {
        path {
          stroke: #2053a6;
        }
      }
    }
  }
  &.inventory {
    i {
      svg {
        path {
          stroke: #2053a6;
        }
      }
    }
  }
  &.merchanttickets {
    i {
      svg {
        path {
          stroke: #2053a6;
        }
      }
    }
  }
  &.users-management {
    i {
      svg {
        path {
          stroke: #2053a6;
        }
      }
    }
  }
  &.locations {
    i {
      svg {
        path {
          stroke: #2053a6;
        }
      }
    }
  }
  &.admin-activities {
    i {
      svg {
        path {
          stroke: #2053a6;
        }
      }
    }
  }
}
:host ::ng-deep .avatar {
  top: 20px;
  left: 80px;
}
:host .menu-items {
  padding-top: 22px;
  .menu-item {
    .menu-item-child-container {
      p-menu {
        ::ng-deep {
          .childMenu {
            top: 30px;
            left: 80px;
          }
        }
      }
    }
  }
}

.icon-circle {
  background-color: rgb(153, 204, 253);
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.icon-circle-pos {
  padding-left: 3px;
  padding-top: 3px;
}
