<div class="container">
  <div class="grid" style="background-color: aliceblue; height: inherit">
    <div
      *ngIf="sidebarVisible"
      class="sidebar col-2 p-0"
      style="font-size: 12px"
    >
      <div class="containerSideMenuOpen" style="background-color: aliceblue">
        <div
          class="displayFlex"
          style="
            justify-content: space-between;
            padding: 15px;
            align-items: center;
          "
        >
          <!-- <oc-icon
            [icon]="'logo'"
            [width]="'92.5px'"
            [height]="'31px'"
          ></oc-icon> -->
          <img
            style="width: 92.5px; object-fit: cover"
            src="../../../assets/iamges/images/paymob3.png"
            alt=""
          />

          <span class="mt-2 icon-circle" style="cursor: pointer">
            <i
              (click)="sidebarVisible = !sidebarVisible"
              class="pi pi-angle-left icon-circle-pos"
            ></i>
          </span>
        </div>
        <hr style="border-top: 1px solid #99ccfd" />

        <div class="mt-3 ml-3 menu-container">
          <div *ngFor="let item of items; let i = index">
            <ng-container
              [ngTemplateOutlet]="item?.childs?.length ? accordion : menuItem"
            >
              <ng-template #accordion>
                <mat-accordion class="accordion-container">
                  <ng-container *secured="item.permission">
                    <mat-expansion-panel
                      style="box-shadow: none; background-color: transparent"
                      class="mt-2"
                      [expanded]="item.expanded"
                      (opened)="panelExpanded($event, i)"
                      (click)="navigate(item)"
                    >
                      <mat-expansion-panel-header
                        [ngStyle]="{
                          'background-color': item.active ? '#99CCFD' : null,
                          'border-radius': '10px 0px 0px 10px'
                        }"
                        style="height: 40px"
                      >
                        <mat-panel-title>
                          <oc-icon
                            [icon]="item.icon"
                            [width]="'20px'"
                            [height]="'20px'"
                            [class]="item.icon"
                            [ngClass]="item.active ? 'active-cild' : ''"
                            [ngStyle]="{
                              color: item.active ? '#2053a6' : '#5b6671'
                            }"
                          >
                          </oc-icon>
                          <span
                            [ngClass]="item.active ? 'active-cild' : ''"
                            class="text-color"
                          >
                            {{ item?.label }}
                          </span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="child-container">
                        <div
                          *ngFor="let child of item?.childs"
                          style="cursor: pointer"
                        >
                          <div
                            (click)="navigate(item, child)"
                            *secured="child.permission"
                          >
                            <span class="child-branch"></span>
                            <span class="ml-2">
                              <p
                                class="text-color"
                                style="display: inline"
                                [ngClass]="
                                  child.active ? 'active-title-cild' : ''
                                "
                              >
                                {{ child?.label }}
                              </p>
                            </span>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </ng-container>
                </mat-accordion>
              </ng-template>
              <ng-template #menuItem>
                <div
                  style="box-shadow: none; background-color: transparent"
                  class="mt-2 menu-only-item"
                  [ngClass]="item?.active ? 'active-cild' : ''"
                  *secured="item?.permission"
                  (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false"
                  (click)="navigate(item)"
                >
                  <div
                    [ngStyle]="{
                      'background-color': item.active ? '#99CCFD' : null,
                      'border-radius': '10px 0px 0px 10px'
                    }"
                    style="height: 40px"
                  >
                    <div>
                      <oc-icon
                        [icon]="item.icon"
                        [width]="'20px'"
                        [height]="'20px'"
                        [class]="item.icon"
                        [ngClass]="item.active ? 'active-cild' : ''"
                        [ngStyle]="{
                          color: item.active ? '#2053a6' : '#5b6671'
                        }"
                      >
                      </oc-icon>
                      <span
                        [ngClass]="item.active ? 'active-cild' : ''"
                        class="text-color"
                        style="font-family: 'public-sans'"
                      >
                        {{ item?.label }}
                      </span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="user-container p-3">
        <div class="user">
          <div class="grid">
            <div class="col-3">
              <p-avatar
                [image]="
                  userImage ? userImage : 'assets/iamges/default-avatar.png'
                "
                styleClass="ml-2"
                size="large"
                shape="circle"
              />
            </div>
            <div class="col-7">
              <div class="mt-1 color-info" style="white-space: nowrap">
                {{ userType }}
              </div>
              <div class="mt-2 font-bold" style="white-space: nowrap">
                {{ userName }}
              </div>
            </div>
            <div class="col-2">
              <div class="mt-3">
                <button
                  type="button"
                  class="menu-btn"
                  style="cursor: pointer"
                  (click)="menu.toggle($event)"
                >
                  <i class="pi pi-angle-right"></i>
                </button>
                <p-menu
                  #menu
                  [popup]="true"
                  appendTo="body"
                  [model]="listActions"
                ></p-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!sidebarVisible"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90px;
      "
    >
      <div class="containerSideMenuClosed">
        <div
          [ngStyle]="
            storage.getLang() == 'ar'
              ? { 'margin-right': '2px' }
              : { 'margin-left': '2px' }
          "
          style="cursor: pointer"
        >
          <img
            [ngStyle]="
              storage.getLang() == 'ar' ? {} : { transform: 'rotate(180deg)' }
            "
            (click)="sidebarVisible = !sidebarVisible"
            src="../../../assets/iamges/svg/Arrow.svg"
            alt="menu icon"
          />
        </div>
      </div>
      <div class="mt-3" class="menu-items">
        <!-- <mat-accordion> -->
        <div
          style="box-shadow: none; background-color: transparent"
          class="mt-2 menu-item"
          *ngFor="let item of items"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          (click)="navigate(item)"
        >
          <div
            [ngStyle]="{
              'background-color': item.active ? '#99CCFD' : null,
              'border-radius': '10px'
            }"
            style="height: 40px; width: 40px"
            *secured="item?.permission"
          >
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
              "
            >
              <oc-icon
                [icon]="item.icon"
                [width]="'20px'"
                [height]="'20px'"
                [ngClass]="{ 'active-cild': item.active }"
                [class]="item.icon"
                [ngStyle]="{ color: item.active ? '#2053a6' : '#5b6671' }"
                (click)="childMenu.toggle($event)"
              >
              </oc-icon>
            </div>
          </div>
          <div
            class="menu-item-child-container"
            #childList
            [ngStyle]="{
              visibility: item?.childs?.length ? 'visible' : 'hidden'
            }"
          >
            <p-menu
              #childMenu
              [popup]="true"
              styleClass="childMenu"
              [model]="item?.childs"
            >
              <ng-template pTemplate="item" let-item>
                <div
                  style="
                    height: 40px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;
                  "
                  *secured="item.permission"
                  (click)="navigate(item, child)"
                >
                  <span
                    class="p-4"
                    [ngStyle]="{
                      'font-weight': item.active ? '600' : '',
                      color: item.active ? '#2053a6' : '#000'
                    }"
                    >{{ item.label }}</span
                  >
                </div>
              </ng-template>
            </p-menu>
          </div>
        </div>
        <!-- </mat-accordion> -->
      </div>
      <div
        class="user-container p-3"
        style="width: 100px; background: transparent"
      >
        <div class="user">
          <div
            style="
              display: flex;
              justify-items: center;
              align-items: center;
              height: 100%;
            "
          >
            <div style="margin-left: 4px">
              <p-avatar
                image="{{ userImage }}"
                styleClass="ml-1"
                size="large"
                shape="circle"
                (click)="menu.toggle($event)"
              />
            </div>
            <!-- <div class="col-5">
              <div class="mt-1 color-info">{{ userType }}</div>
              <div class="mt-2 font-bold">{{ userName }}</div>
            </div> -->
            <div #avatar>
              <button type="button" class="menu-btn">
                <!-- <i class="pi pi-angle-right"></i> -->
              </button>
              <p-menu
                #menu
                [popup]="true"
                styleClass="avatar"
                appendTo="avatar"
                [model]="listActions"
              >
              </p-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="!sidebarVisible" class="padding0 width5"> -->

    <!-- </div> -->

    <oc-confirm-dialog></oc-confirm-dialog>
    <div
      class="col p-2 outlet"
      style="
        border-radius: 20px 0px 0px 0px;
        background-color: #f8f8f8;
        overflow: auto;
      "
    >
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
