<div>
  <div class="m-3" style="width: 100%">
    <span (click)="backToList()" style="cursor: pointer">
      SimCard Details
    </span>
    <span class="mr-4 status"> new </span>
  </div>
  <hr class="header-divider" />
</div>
<div class="add-form container-card">
  <div>
    <div class="grid">
      <div *ngFor="let item of cards" class="col-4">
        <div class="card-container">
          <div class="m-2 label-primary">{{ item.title }}</div>
          <div class="grid">
            <div class="col-3 center-container">
              <p-avatar
                icon="pi pi-user"
                styleClass="mr-2"
                size="large"
                [style]="{ 'background-color': '#E6F2FE', color: '#0080F9' }"
                shape="circle"
              />
            </div>
            <div class="col-9 pl-0">
              <div>{{ item.name }}</div>
              <div class="label-primary mt-2">
                <span class="pi pi-phone" *ngIf="item.phone"></span>
                {{ item.phone }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid mt-3">
      <div *ngFor="let section of detailsSections" class="col-4">
        <div *ngFor="let field of section" class="grid mt-2">
          <div class="col-6 label-primary">{{ field.label }}</div>
          <div *ngIf="field.type == ''" class="col-6">{{ field.value }}</div>
          <div *ngIf="field.type == 'date'" class="col-6">
            {{ field.value | date : "dd/MM/yyyy HH:mm" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
