<div>
  <div class="p-grid ml-2 m-2">
    <div class="p-col" style="text-align: right">
      <span
        (click)="backToList()"
        class="mt-2 ml-3 header-left"
        style="color: #0080f9; cursor: pointer"
        >Terminal</span
      >
      <span class="mt-2 ml-2 mr-2 header-left">></span>
      <span class="mt-2 header-left"
        >{{ formType == "add" ? "Add" : "Edit" }} Terminal</span
      >
      <p-button
        class="mr-3"
        label="Cancel"
        [text]="true"
        [raised]="true"
        size="small"
      />

      <p-button
        (click)="submit()"
        [disabled]="!terminalForm?.valid"
        label="{{ formType == 'add' ? 'Add' : 'Save' }}"
        size="small"
      >
      </p-button>
    </div>
  </div>
  <hr class="header-divider" />

  <div class="terminal-form">
    <form [formGroup]="terminalForm">
      <div class="grid">
        <div class="col-8 p-0 inputs-div">
          <div class="p-20 flex flex-wrap">
            <div class="basic-info">
              <p>Basic Info</p>
            </div>
            <div class="form flex flex-wrap pt-12">
              <div class="col-4">
                <oc-ddl
                  [url]="'/Terminal/GetAllMechantDropDown'"
                  [form]="terminalForm"
                  [isMultiple]="false"
                  [controlName]="'merchantId'"
                  [showArabicName]="false"
                  [ddlHeader]="'Merchant'"
                  [requiredMessage]="'Merchant field is required'"
                  (dataChange)="merchantChanged($event)"
                >
                </oc-ddl>
              </div>

              <div class="col-4">
                <div class="flex flex-column gap-2">
                  <label for="terminalId"
                    >Terminal ID <span class="p-error"> * </span></label
                  >
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty': f.terminalId?.errors?.required
                    }"
                    pInputText
                    type="number"
                    formControlName="terminalId"
                  />

                  <div
                    *ngIf="
                      f.terminalId.errors &&
                      (f.terminalId.dirty || f.terminalId.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.terminalId.errors.required"
                    >
                      Terminal ID field is required
                    </div>
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.terminalId.errors.pattern"
                    >
                      Terminal ID field length must be between(1,30)
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="flex flex-column gap-2">
                  <label for="phoneNumber">Phone Number </label>
                  <input
                    pInputText
                    type="number"
                    [ngClass]="{
                      'ng-invalid ng-dirty': f.phoneNumber?.errors?.required
                    }"
                    formControlName="phoneNumber"
                  />

                  <div
                    *ngIf="
                      f.phoneNumber.errors &&
                      (f.phoneNumber.dirty || f.phoneNumber.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.phoneNumber.errors.pattern"
                    >
                      Phone Number must be 11 digits
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="flex flex-column gap-2">
                  <label for="errandChannelId"
                    >Errand Channel <span class="p-error"> * </span></label
                  >
                  <p-dropdown
                    [options]="errandChannelsList"
                    formControlName="errandChannelId"
                    [optionValue]="'id'"
                    optionLabel="nameEn"
                    filter="true"
                  />
                  <div
                    *ngIf="
                      f.errandChannelId.errors &&
                      (f.errandChannelId.dirty || f.errandChannelId.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.errandChannelId.errors.required"
                    >
                      Errand Channel field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="flex flex-column gap-2">
                  <label for="posTypeId"
                    >POS Type <span class="p-error"> * </span></label
                  >
                  <p-dropdown
                    [options]="posList"
                    formControlName="posTypeId"
                    [optionValue]="'id'"
                    optionLabel="nameEn"
                    filter="true"
                  />
                  <div
                    *ngIf="
                      f.posTypeId.errors &&
                      (f.posTypeId.dirty || f.posTypeId.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.posTypeId.errors.required"
                    >
                      POS Type field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 p-0">
          <div class="location-form p-20">
            <div class="location-text">
              <p class="font-bold fs-11">Location</p>
            </div>
            <div class="grid">
              <div class="col-5">
                <div class="flex flex-column gap-2">
                  <label for="longitudeInput"
                    >Long
                    <label *ngIf="false" for="" style="color: red !important"
                      >*</label
                    ></label
                  >
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty': f.longitudeInput?.errors?.required
                    }"
                    type="text"
                    pInputText
                    formControlName="longitudeInput"
                  />
                </div>
              </div>
              <div class="col-5">
                <div class="flex flex-column gap-2">
                  <label for="latitudeInput"
                    >Lat
                    <label for="" *ngIf="false" style="color: red !important"
                      >*</label
                    >
                  </label>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty': f.latitudeInput?.errors?.required
                    }"
                    type="text"
                    pInputText
                    formControlName="latitudeInput"
                  />
                </div>
              </div>
              <div class="col-2">
                <div class="add-item mt-5" (click)="pinLocation()">
                  <span class="add-btn">
                    <i class="pi pi-map-marker" style="font-size: 13px"></i>
                  </span>
                </div>
              </div>
            </div>
            <div>
              <div class="map-container">
                <oc-map [mode]="formType" [coordinates]="coordinates"></oc-map>
              </div>

              <div class="location-container fs-11 mt-3">
                <div class="col-6 coordinate">
                  <span class="mt-2"
                    >Long:
                    {{
                      terminalForm?.get("longitude").value | strLimit : 10
                    }}</span
                  >
                </div>
                <p-divider class="divider" />
                <div class="col-6 coordinate">
                  <span class="mt-2"
                    >Lat:
                    {{
                      terminalForm?.get("latitude").value | strLimit : 10
                    }}</span
                  >
                </div>
              </div>
              <div
                *ngIf="
                  f.longitude.errors &&
                  (f.longitude.dirty || f.longitude.touched) &&
                  f.latitude.errors &&
                  (f.latitude.dirty || f.latitude.touched)
                "
              >
                <span style="color: red; font-size: 10px"
                  >Please select location on map!</span
                >
              </div>
            </div>
            <div class="grid mt-2">
              <div class="col-6">
                <div class="flex flex-column gap-2">
                  <label for="regionId"
                    >Region <span class="p-error"> * </span>
                  </label>
                  <p-dropdown
                    (onChange)="regionChanged($event)"
                    [options]="regionsList"
                    formControlName="regionId"
                    [optionValue]="'id'"
                    optionLabel="nameEn"
                    filter="true"
                  />
                  <div
                    *ngIf="
                      f.regionId.errors &&
                      (f.regionId.dirty || f.regionId.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.regionId.errors.required"
                    >
                      Region field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="flex flex-column gap-2">
                  <label for="cityId"
                    >City <span class="p-error"> * </span>
                  </label>
                  <p-dropdown
                    [options]="citiesList"
                    (onChange)="cityChanged($event)"
                    formControlName="cityId"
                    [optionValue]="'id'"
                    optionLabel="nameEn"
                    filter="true"
                  />
                  <div
                    *ngIf="
                      f.cityId.errors && (f.cityId.dirty || f.cityId.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.cityId.errors.required"
                    >
                      City field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid pt-10">
              <div class="col-6">
                <div class="flex flex-column gap-2">
                  <label for="zoneId"
                    >Zone <span class="p-error"> * </span>
                  </label>
                  <p-dropdown
                    [options]="zonesList"
                    formControlName="zoneId"
                    [optionValue]="'id'"
                    optionLabel="nameEn"
                    filter="true"
                  />
                  <div
                    *ngIf="
                      f.zoneId.errors && (f.zoneId.dirty || f.zoneId.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.zoneId.errors.required"
                    >
                      Zone field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid pt-10">
              <div class="col-12">
                <div class="flex flex-column gap-2">
                  <label for="address">Address </label>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty': f.address?.errors?.required
                    }"
                    type="text"
                    pInputText
                    formControlName="address"
                  />
                </div>
              </div>
            </div>
            <div class="grid pt-10">
              <div class="col-12">
                <div class="flex flex-column gap-2">
                  <label for="landMark">Landmark</label>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty': f.landMark?.errors?.required
                    }"
                    type="text"
                    pInputText
                    formControlName="landMark"
                  />
                  <div
                    *ngIf="
                      f.landMark.errors &&
                      (f.landMark.dirty || f.landMark.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.landMark.errors.required"
                    >
                      Landmark field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
