<div [formGroup]="form">
  <div class="p-grid ml-2 m-2">
    <div class="p-col" style="text-align: right">
      <span
        (click)="backToList()"
        class="mt-2 ml-3 header-left"
        style="color: #0080f9; cursor: pointer"
        >Users</span
      >
      <span class="mt-2 ml-2 mr-2 header-left">></span>
      <span class="mt-2 header-left"
        >{{ formType == "add" ? "Add" : "Edit" }} User</span
      >
      <p-button
        class="mr-3 cancel-button"
        label="Cancel"
        [text]="true"
        (click)="backToList()"
        size="small"
      />

      <p-button
        (click)="submit()"
        [disabled]="!form?.valid"
        label="{{ formType == 'add' ? 'Add' : 'Save' }}"
        size="small"
      >
      </p-button>
    </div>
  </div>

  <hr class="header-divider" />

  <div class="merchants-form">
    <form [formGroup]="form">
      <div class="grid col-12">
        <div class="col-4 p-0">
          <div class="details-form p-20">
            <div class="details-text">
              <p class="font-bold fs-11">User Card</p>
            </div>
            <div class="flex flex-column">
              <div class="profile-image-wrapper">
                <div
                  class="profile-image-container"
                  (click)="fileInput.click()"
                >
                  <img
                    [src]="
                      form.get('imageBase64String').value
                        ? form.get('imageBase64String').value
                        : img.src
                    "
                    #img
                    hideMissing
                    [errorIconURL]="'assets/iamges/default-avatar.svg'"
                    class="profile-image"
                  />
                  <input
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                    accept="image/*"
                    hidden
                  />
                  <!-- <div
                    class="icon-overlay"
                    *ngIf="!form.get('imageBase64String').value"
                  >
                    <oc-icon
                      [icon]="'user'"
                      [width]="'25px'"
                      [height]="'25px'"
                    ></oc-icon>
                  </div> -->
                  <div class="upload-icon-container">
                    <oc-icon
                      [icon]="'plus-icon'"
                      [width]="'20px'"
                      [height]="'20px'"
                      [scale]="1.6"
                    ></oc-icon>
                  </div>
                </div>
                <input formControlName="imageBase64String" hidden />
              </div>
              <div class="details-input">
                <div class="username-details flex">
                  <div class="col-6">
                    <div class="flex flex-column gap-2">
                      <label for="firstName"
                        >First Name <span class="p-error"> * </span>
                      </label>
                      <input
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            f.firstName?.errors?.required ||
                            f.firstName?.errors?.pattern
                        }"
                        type="text"
                        pInputText
                        formControlName="firstName"
                      />

                      <div
                        *ngIf="
                          f.firstName.errors &&
                          (f.firstName.dirty || f.firstName.touched)
                        "
                        class="invalid-feedback"
                      >
                        <div class="fs-10 color-red">
                          <span *ngIf="f.firstName.errors.required">
                            First Name field is required
                          </span>
                          <span *ngIf="f.firstName.errors.pattern">
                            Only English letters are allowed.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="flex flex-column gap-2">
                      <label for="lastName"
                        >Last Name <span class="p-error"> * </span>
                      </label>
                      <input
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            f.lastName?.errors?.required ||
                            f.lastName?.errors?.pattern
                        }"
                        type="text"
                        pInputText
                        formControlName="lastName"
                      />

                      <div
                        *ngIf="
                          f.lastName.errors &&
                          (f.lastName.dirty || f.lastName.touched)
                        "
                        class="invalid-feedback"
                      >
                        <div class="fs-10 color-red">
                          <span *ngIf="f.lastName.errors.required">
                            Last Name field is required
                          </span>
                          <span *ngIf="f.lastName.errors.pattern">
                            Only English letters are allowed.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="col-12">
                    <div class="flex flex-column gap-2">
                      <label for="userName"
                        >Email Address<span class="p-error"> * </span>
                      </label>
                      <input
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            f.userName?.errors?.required ||
                            f.userName?.errors?.pattern
                        }"
                        type="text"
                        pInputText
                        formControlName="userName"
                      />

                      <div
                        *ngIf="
                          f.userName.errors &&
                          (f.userName.dirty || f.userName.touched)
                        "
                        class="invalid-feedback"
                      >
                        <div class="fs-10 color-red">
                          <span *ngIf="f.userName.errors.required">
                            Email Address field is required
                          </span>
                          <span *ngIf="f.userName.errors.pattern">
                            Email Address is invalid.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="flex flex-column gap-2">
                      <label for="phoneNumber"
                        >Phone Number <span class="p-error"> * </span>
                      </label>
                      <input
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            f.phoneNumber?.errors?.required ||
                            f.phoneNumber?.errors?.pattern
                        }"
                        type="text"
                        pInputText
                        formControlName="phoneNumber"
                      />

                      <div
                        *ngIf="
                          f.phoneNumber.errors &&
                          (f.phoneNumber.dirty || f.phoneNumber.touched)
                        "
                        class="invalid-feedback"
                      >
                        <div class="fs-10 color-red">
                          <span *ngIf="f.phoneNumber.errors.required">
                            Phone Number field is required
                          </span>
                          <span *ngIf="f.phoneNumber.errors.pattern">
                            Phone Number is invalid.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="flex flex-column gap-2">
                      <label for="nationalId">National ID </label>
                      <input
                        [ngClass]="{
                          'ng-invalid ng-dirty':
                            f.nationalId?.errors?.required ||
                            f.nationalId?.errors?.pattern
                        }"
                        type="text"
                        pInputText
                        formControlName="nationalId"
                      />

                      <div
                        *ngIf="
                          f.nationalId.errors &&
                          (f.nationalId.dirty || f.nationalId.touched)
                        "
                        class="invalid-feedback"
                      >
                        <div class="fs-10 color-red">
                          <span *ngIf="f.nationalId.errors.required">
                            National ID field is required
                          </span>
                          <span *ngIf="f.nationalId.errors.pattern">
                            National ID is invalid.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div>
                      <h4>National ID Image</h4>
                      <div class="upload-container">
                        <label for="file-upload" class="upload-label">
                          <div class="upload-content">
                            <!-- <i class="pi pi-cloud-upload"></i> -->
                            <oc-icon
                              [icon]="'upload-icon'"
                              [width]="'25px'"
                              [height]="'25px'"
                            ></oc-icon>
                            <div class="flex flex-column file-upload-text">
                              <span>Upload new file</span>
                              <span
                                >Drag and drop a file or
                                <span class="browse-file"
                                  >browse file</span
                                ></span
                              >
                            </div>
                          </div>
                        </label>
                        <input
                          id="file-upload"
                          type="file"
                          accept="image/*"
                          (change)="onFileSelectedNationalId($event)"
                          hidden
                        />
                      </div>
                      <div
                        *ngIf="fileName"
                        class="file-info"
                        style="cursor: pointer"
                        (click)="
                          downloadImage(
                            form.get('nationalIdBase64String').value,
                            'National ID File'
                          )
                        "
                      >
                        <oc-icon
                          [icon]="'files-icon'"
                          [width]="'25px'"
                          [height]="'25px'"
                        ></oc-icon>
                        <span class="file-info-text">
                          {{ fileName }}
                        </span>
                      </div>
                    </div>

                    <!-- <div class="flex flex-column gap-2">
                      <label for="nationalIdBase64String"
                        >National ID Image
                      </label>
                      <div class="upload-container">
                        <input type="file" id="file-upload"
                        formControlName="nationalIdBase64String" hidden = />
                        <label for="file-upload" class="upload-label">
                          <div class="upload-box">
                            <oc-icon
                              [icon]="'upload-icon'"
                              [width]="'16px'"
                              [height]="'16px'"
                              [scale]="1.5"
                            ></oc-icon>
                            <div class="flex flex-column ml-3">
                              <span class="upload-text">Upload new file</span>
                              <span
                                >Drag and drop a file or
                                <button class="browse-file" type="button">
                                  browse file
                                </button></span
                              >
                            </div>
                          </div>
                        </label>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 pt-0">
          <div class="col-12 p-20 inputs-div">
            <div class="details-text">
              <p class="font-bold fs-11">More Details</p>
            </div>
            <div>
              <div class="userType-field">
                <label>User Type <span class="p-error">*</span></label>
                <div class="radio-buttons">
                  <p-radioButton
                    *ngFor="let userType of userTypes"
                    name="userType"
                    [value]="userType.id"
                    formControlName="userType"
                    [label]="userType.nameEn"
                    [inputId]="userType?.inputId"
                    (onClick)="userTypeChanged($event)"
                  >
                  </p-radioButton>
                </div>
              </div>
              <div class="flex p-0">
                <div class="col-6">
                  <div class="flex flex-column gap-2">
                    <label for="rolesIds"
                      >Role <span class="p-error"> * </span>
                    </label>
                    <p-multiSelect
                      formControlName="rolesIds"
                      [options]="rolesIdsLists"
                      [optionValue]="'id'"
                      optionLabel="nameEn"
                    />
                    <div
                      *ngIf="
                        f.rolesIds.errors &&
                        (f.rolesIds.dirty || f.rolesIds.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="fs-10 color-red"
                        *ngIf="f.rolesIds.errors.required"
                      >
                        Roles field is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="flex flex-column gap-2">
                    <label for="managerId">Manager </label>

                    <p-dropdown
                      [options]="managerIdsLists"
                      formControlName="managerId"
                      [optionValue]="'id'"
                      optionLabel="nameEn"
                      filter="true"
                    />
                    <div
                      *ngIf="
                        f.managerId.errors &&
                        (f.managerId.dirty || f.managerId.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="fs-10 color-red"
                        *ngIf="f.managerId.errors.required"
                      >
                        Manager field is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="col-6 p-0 displayFlex align-item-center">
                  <p-checkbox
                    formControlName="isManager"
                    binary="true"
                  ></p-checkbox>
                  <label class="isManager" for="isManager"
                    >Mark as Manager</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="!hideLocationAndServiceTypeAction"
            class="col-12 p-20 mt-20 inputs-div"
          >
            <div class="details-text">
              <p class="font-bold fs-11">Location</p>
            </div>
            <div class="col-12 p-0 flex">
              <div class="col-4">
                <div class="flex flex-column gap-2">
                  <label for="regionId"
                    >Assigned Region <span class="p-error"> * </span>
                  </label>

                  <p-dropdown
                    (onChange)="regionChanged($event)"
                    [options]="regionsIdsLists"
                    formControlName="regionId"
                    [optionValue]="'id'"
                    optionLabel="nameEn"
                    filter="true"
                  />
                  <div
                    *ngIf="
                      f.regionId.errors &&
                      (f.regionId.dirty || f.regionId.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.regionId.errors.required"
                    >
                      Region field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="flex flex-column gap-2">
                  <label for="cityId"
                    >City <span class="p-error"> * </span>
                  </label>

                  <p-dropdown
                    (onChange)="cityChanged($event)"
                    [options]="citiesLists"
                    formControlName="cityId"
                    [optionValue]="'id'"
                    optionLabel="nameEn"
                    filter="true"
                  />
                  <div
                    *ngIf="
                      f.cityId.errors && (f.cityId.dirty || f.cityId.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.cityId.errors.required"
                    >
                      City field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="flex flex-column gap-2">
                  <label for="zoneId"
                    >Zone
                    <span class="p-error" *ngIf="f.zoneId?.errors?.required">
                      *
                    </span>
                  </label>
                  <p-multiSelect
                    [options]="zonesLists"
                    formControlName="zoneId"
                    [optionValue]="'id'"
                    optionLabel="nameEn"
                  />
                  <div
                    *ngIf="
                      f.zoneId.errors && (f.zoneId.dirty || f.zoneId.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div
                      class="fs-10 color-red"
                      *ngIf="f.zoneId.errors.required"
                    >
                      Zones field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            *ngIf="!hideLocationAndServiceTypeAction"
            class="col-12 p-20 mt-20 inputs-div"
          >
            <div class="details-text">
              <p class="font-bold fs-11">Service Type</p>
            </div>
            <div>
              <div>
                <div class="errand-type-items" formArrayName="agentErrandTypes">
                  <div
                    class="col-12 p-0 flex"
                    *ngFor="
                      let item of form.get('agentErrandTypes')?.controls;
                      let i = index;
                      let first = first
                    "
                    [formGroupName]="i"
                  >
                    <!-- {{item.get('errandTypeId').value | json}} -->
                    <div class="left-control col-4">
                      <label
                        for="quanityt"
                        style="display: block; margin-bottom: 10px"
                      >
                        Category <span class="p-error"> * </span>
                      </label>
                      <p-dropdown
                        [options]="categories"
                        filter="true"
                        [optionLabel]="'nameEn'"
                        [optionValue]="'id'"
                        [showClear]="true"
                        [formControl]="item.get('categoryId')"
                        placeholder="Select Errand Type"
                        (onChange)="CategoryChanged($event, i)"
                      ></p-dropdown>
                      <div
                        *ngIf="
                          item.get('categoryId')?.errors &&
                          (item.get('categoryId').dirty ||
                            item.get('categoryId').touched)
                        "
                        class="invalid-feedback"
                      >
                        <div class="fs-10 color-red">
                          <span *ngIf="item.get('categoryId')?.errors.required">
                            Errand Type field is required
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="left-control col-7">
                      <label
                        for="quanityt"
                        style="display: block; margin-bottom: 10px"
                      >
                        Errand Type <span class="p-error"> * </span>
                      </label>
                      <p-multiSelect
                        [options]="getFillteredErrandTypes(i)"
                        filter="true"
                        [optionLabel]="'nameEn'"
                        [optionValue]="'id'"
                        [showClear]="true"
                        [formControl]="item.get('errandTypes')"
                        placeholder="Select Errand Type"
                        (onClick)="errandTypeChange($event, i)"
                      ></p-multiSelect>
                      <div
                        *ngIf="
                          item.get('errandTypes')?.errors &&
                          (item.get('errandTypes').dirty ||
                            item.get('errandTypes').touched)
                        "
                        class="invalid-feedback"
                      >
                        <div class="fs-10 color-red">
                          <span
                            *ngIf="item.get('errandTypes')?.errors.required"
                          >
                            Errand Type field is required
                          </span>
                        </div>
                      </div>
                    </div>

                    <div
                      class="trash-icon col-1"
                      style="display: flex; align-items: center"
                      *ngIf="!first"
                    >
                      <i
                        class="pi pi-trash mt-3"
                        (click)="removeErrandType(i)"
                      ></i>
                    </div>
                  </div>
                </div>
                <div class="addons col-12 mt-3">
                  <div class="add-item" (click)="addErrandType()">
                    <span class="add-btn">
                      <i class="pi pi-plus-circle" style="font-size: 13px"></i>
                    </span>
                    <label for="add-item" class="ml-2" style="color: black"
                      >Add Service Type</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
