<div *ngIf="false" class="p-grid ml-2 m-2 mt-3">
  <div class="p-col" style="text-align: right">
    <span class="mt-3 ml-3" style="float: left; font-weight: bolder">{{
      "Name"
    }}</span>
    <p-button
      *ngIf="buttonsExistance?.showAdd"
      (click)="navigateToAdd()"
      [label]="addButtonLabel"
      size="small"
    >
      <span class="ml-1 mr-1 add">
        <i class="pi pi-plus add-icon"></i>
      </span>
    </p-button>
  </div>
</div>

<div
  style="
    height: 73px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  "
>
  <div class="m-3">
    <div>
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          [(ngModel)]="inputTextHistoryValue"
          (ngModelChange)="InputSearch$.next($event); inputText($event)"
          type="text"
          size="small"
          pInputText
          placeholder="Search"
        />
      </p-iconField>
    </div>
  </div>

  <div *ngIf="buttonsExistance?.showAllButtons" class="mt-3 mr-3">
    <div style="width: 100%" class="float-right">
      <div
        *ngIf="gridActionsList.length"
        class="float-right ml-3 actions-dialog"
        (click)="opActions.toggle($event)"
        style="user-select: none; caret-color: transparent"
      >
        <i class="pi pi-ellipsis-v" style="color: #708090"></i>
      </div>
      <!-- <p-button class="float-right ml-3" (onClick)="op.toggle($event)" /> -->
      <p-overlayPanel #opActions>
        <div class="flex flex-column gap-3 w-12rem">
          <div
            class="action-container"
            *ngFor="let action of gridActionsList"
            (click)="actionClicked(action)"
          >
            <div *ngIf="action?.showAction">
              <i [class]="action.icon" style="margin-right: 5px"></i>
              {{ action.name }}
            </div>
          </div>
        </div>
      </p-overlayPanel>

      <button
        *ngIf="buttonsExistance?.showFilter"
        (click)="op.toggle($event)"
        class="filter-btn float-right ml-3"
        style="height: 32px"
      >
        <i class="pi pi-filter"></i>
        Filter
      </button>
      <p-button
        *ngIf="buttonsExistance?.showExport"
        label="Export"
        class="float-right ml-3"
        icon="pi pi-download"
        size="small"
        badgeClass="p-badge-contrast"
        (click)="export()"
        outlined="true"
      />
      <p-button
        *ngIf="buttonsExistance?.showCustomExport"
        label="Tickets"
        class="float-right ml-3"
        icon="pi pi-download"
        size="small"
        badgeClass="p-badge-contrast"
        (click)="export()"
        outlined="true"
      />
      <p-button
        *ngIf="buttonsExistance?.showExportDetails"
        label="Tasks"
        class="float-right ml-3"
        icon="pi pi-download"
        size="small"
        badgeClass="p-badge-contrast"
        (click)="exportDetails()"
        outlined="true"
      />
      <p-button
        label="Import"
        *ngIf="buttonsExistance?.showImport"
        class="float-right ml-3"
        icon="pi pi-upload"
        size="small"
        (click)="showImportDialog()"
        badgeClass="p-badge-contrast"
        outlined="true"
      />
      <p-button
        label="Import Cancellation"
        *ngIf="buttonsExistance?.showImportCancellation"
        class="float-right ml-3"
        icon="pi pi-upload"
        size="small"
        (click)="showImportDialog('cancel')"
        badgeClass="p-badge-contrast"
        outlined="true"
      />
      <p-button
        label="Import Visit & Sales"
        *ngIf="buttonsExistance?.showImportVisit"
        class="float-right ml-3"
        icon="pi pi-upload"
        size="small"
        (click)="showImportDialog('visit')"
        badgeClass="p-badge-contrast"
        outlined="true"
      />
      <p-button
        label="Change Status"
        *ngIf="buttonsExistance?.showChangeStatus"
        class="float-right ml-3"
        icon="pi pi-upload"
        size="small"
        (click)="showImportDialog('status')"
        badgeClass="p-badge-contrast"
        outlined="true"
      />
    </div>
  </div>
</div>

<div *ngIf="searchOnly" [style]="styleContainer" class="pt-1 breadCrumb">
  <div class="mt-1" style="margin-left: 12px; margin-right: 12px; padding: 6px">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        [(ngModel)]="inputTextHistoryValue"
        (ngModelChange)="InputSearch$.next($event); inputText($event)"
        class="no-border"
        [style]="StyleInput"
        type="text"
        placeholder="Search"
      />
    </span>
  </div>
</div>

<p-overlayPanel
  #op
  (onHide)="dismissed($event)"
  (onShow)="show($event)"
  [dismissable]="false"
  [showCloseIcon]="true"
  [style]="styleObj"
  [autoZIndex]="false"
>
  <ng-template pTemplate>
    <form
      novalidate
      [formGroup]="filtersForm"
      (ngSubmit)="search(filtersForm.value)"
    >
      <div [hidden]="!isFilterForm">
        <p-scrollPanel [style]="{ width: '100%' }">
          <div class="grid">
            <div
              class="col-4 mt-3 mb-0 pb-0"
              *ngFor="let ctrl of filterControls"
            >
              <div [hidden]="ctrl?.hidden">
                <!-- switch for the type-->
                <div [ngSwitch]="ctrl.type">
                  <div *ngSwitchCase="'TEXT'">
                    <div>
                      <div class="header mb-2">
                        <span>
                          {{
                            ctrl.headerName
                              ? ("propsNames." + ctrl.headerName | translate)
                              : ("propsNames." + ctrl.field | translate)
                          }}
                          <span
                            *ngIf="!ctrl.isFixed"
                            style="color: #c3c3c3; font-size: smaller"
                            [ngClass]="
                              !language.isEnglish()
                                ? 'float-left'
                                : 'float-right'
                            "
                          >
                          </span>
                        </span>
                      </div>

                      <input
                        type="text"
                        (input)="getInputData($event.target.value, ctrl.field)"
                        [formControlName]="ctrl.field"
                        style="background-image: none"
                        pInputText
                        class="form-control"
                        formControlName="text"
                      />
                      <!--
                    <input
                      [mask]="ctrl?.mask"
                      (input)="getInputData($event.target.value, ctrl.field)"
                      [formControlName]="ctrl.field"
                      style="background-image: none"
                      [type]="ctrl.typeInput ? ctrl.typeInput : 'text'"
                      class="form-control"
                    /> -->
                    </div>
                    <!-- <oc-input [formControlName]="ctrl.field"></oc-input> -->
                  </div>
                  <div *ngSwitchCase="'NUMBER'">
                    <div>
                      <div class="header mb-2">
                        <span>
                          {{
                            ctrl.headerName
                              ? ("propsNames." + ctrl.headerName | translate)
                              : ("propsNames." + ctrl.field | translate)
                          }}
                          <span
                            *ngIf="!ctrl.isFixed"
                            style="color: #c3c3c3; font-size: smaller"
                            [ngClass]="
                              !language.isEnglish()
                                ? 'float-left'
                                : 'float-right'
                            "
                          >
                          </span>
                        </span>
                      </div>

                      <input
                        [mask]="ctrl?.mask"
                        (input)="getInputData($event.target.value, ctrl.field)"
                        [formControlName]="ctrl.field"
                        style="background-image: none"
                        [type]="'text'"
                        class="phone-control"
                        numbersOnly
                      />
                    </div>
                    <!-- <oc-input [formControlName]="ctrl.field"></oc-input> -->
                  </div>

                  <div *ngSwitchCase="'SELECT'">
                    <div class="header mb-2">
                      <span>
                        {{ "propsNames." + ctrl.field | translate }}
                        <span
                          *ngIf="!ctrl.isFixed"
                          style="color: #c3c3c3; font-size: smaller"
                          [ngClass]="
                            !language.isEnglish() ? 'float-left' : 'float-right'
                          "
                        >
                        </span>
                      </span>
                    </div>

                    <p-dropdown
                      *ngIf="!ctrl.isMultiple"
                      [formControlName]="ctrl.field"
                      [options]="ctrl.ddlData"
                      [optionValue]="'id'"
                      optionLabel="nameEn"
                      appendTo="body"
                      (onChange)="getSelectedData($event, ctrl.field)"
                      placeholder="Select"
                      filter="true"
                    />
                    <p-multiSelect
                      *ngIf="ctrl.isMultiple"
                      [formControlName]="ctrl.field"
                      [options]="ctrl.ddlData"
                      [optionValue]="'id'"
                      optionLabel="nameEn"
                      appendTo="body"
                      (onChange)="getSelectedData($event, ctrl.field)"
                      placeholder="Select"
                      [filterBy]="'searchKey'"
                    />
                  </div>

                  <div *ngSwitchCase="'CHOICE'">
                    <div class="header mb-2">
                      <span>
                        {{ "propsNames." + ctrl.field | translate }}
                        <span
                          *ngIf="!ctrl.isFixed"
                          style="color: #c3c3c3; font-size: smaller"
                          [ngClass]="
                            !language.isEnglish() ? 'float-left' : 'float-right'
                          "
                        >
                        </span>
                      </span>
                    </div>
                    <oc-ddl
                      *ngIf="ctrl.serverSide"
                      [id]="ctrl.propValueName ? ctrl.propValueName : 'id'"
                      [url]="ctrl.url"
                      [dropdownPosition]="
                        ctrl.ddlPosition ? ctrl.ddlPosition : 'auto'
                      "
                      [multipleSelectCount]="1"
                      (dataChange)="getSelectedData($event, ctrl.field)"
                      [relativeTo]="'.p-overlaypanel-content'"
                      [showArabicName]="!ctrl.ddlHideArabicName"
                      [isMultiple]="ctrl.isMultiple"
                      [controlName]="ctrl.field"
                      [form]="filtersForm"
                      [isHideSelected]="false"
                      [pageSize]="ctrl.pageSize ? ctrl.pageSize : 10"
                    >
                    </oc-ddl>
                  </div>

                  <div *ngSwitchCase="'SELECTVALUE'">
                    <div class="header mb-2">
                      <span>
                        {{ "propsNames." + ctrl.field | translate }}
                        <span
                          *ngIf="!ctrl.isFixed"
                          style="color: #c3c3c3; font-size: smaller"
                          [ngClass]="
                            !language.isEnglish() ? 'float-left' : 'float-right'
                          "
                        >
                        </span>
                      </span>
                    </div>

                    <p-dropdown
                      *ngIf="!ctrl.isMultiple"
                      [formControlName]="ctrl.field"
                      [options]="ctrl.ddlData"
                      [optionValue]="'id'"
                      optionLabel="nameEn"
                      appendTo="body"
                      (onChange)="getSelectedData($event, ctrl.field)"
                      placeholder="Select"
                      filter="true"
                    />
                    <p-multiSelect
                      *ngIf="ctrl.isMultiple"
                      [formControlName]="ctrl.field"
                      [options]="ctrl.ddlData"
                      [optionValue]="'id'"
                      optionLabel="nameEn"
                      appendTo="body"
                      (onChange)="getSelectedData($event, ctrl.field)"
                      placeholder="Select"
                      [filterBy]="ctrl?.filter ? ctrl.filterBy : 'id'"
                    />
                  </div>

                  <div *ngSwitchCase="'RANGE'">
                    <div>
                      <div class="header mb-2">
                        <span>
                          {{ "propsNames." + ctrl.field | translate }}
                          <span
                            *ngIf="!ctrl.isFixed"
                            style="color: #c3c3c3; font-size: smaller"
                            [ngClass]="
                              !language.isEnglish()
                                ? 'float-left'
                                : 'float-right'
                            "
                          >
                          </span>
                        </span>
                      </div>

                      <div class="row m-0 p-0">
                        <div class="col-6 m-0 p-0">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span
                                [ngClass]="
                                  language.isEnglish()
                                    ? 'radius-left'
                                    : 'radius-right'
                                "
                                class="input-group-text m-0 p-1 no-radius"
                                id="basic-addon1"
                                >From</span
                              >
                            </div>
                            <input
                              [formControlName]="ctrl.field + 'From'"
                              numbersOnly
                              (input)="
                                getInputRangeData(
                                  $event.target.value,
                                  ctrl.field,
                                  'from'
                                )
                              "
                              type="text"
                              class="form-control no-radius"
                              aria-label="Username"
                              aria-describedby="basic-addon1"
                            />
                          </div>
                        </div>
                        <div class="col-6 m-0 p-0">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span
                                class="input-group-text m-0 p-1 no-radius"
                                id="basic-addon1"
                                >To</span
                              >
                            </div>
                            <input
                              (input)="
                                getInputRangeData(
                                  $event.target.value,
                                  ctrl.field,
                                  'to'
                                )
                              "
                              [formControlName]="ctrl.field + 'To'"
                              numbersOnly
                              type="text"
                              class="form-control no-radius"
                              [ngClass]="
                                !language.isEnglish()
                                  ? 'radius-left'
                                  : 'radius-right'
                              "
                              aria-label="Username"
                              aria-describedby="basic-addon1"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngSwitchCase="'DATE'">
                    <div class="header mb-2">
                      <span>
                        {{ "propsNames." + ctrl.field | translate }}

                        <span
                          *ngIf="!ctrl.isFixed"
                          style="color: #c3c3c3; font-size: smaller"
                          [ngClass]="
                            !language.isEnglish() ? 'float-left' : 'float-right'
                          "
                        >
                        </span>
                      </span>
                    </div>

                    <p-calendar
                      [formControlName]="ctrl.field"
                      selectionMode="range"
                      appendTo="body"
                      [readonlyInput]="true"
                    />
                    <!-- <input
                    (dateTimeChange)="
                      getDateData($event.value, ctrl.field, ctrl.pickerType)
                    "
                    style="height: 40px"
                    class="form-control form-control-lg"
                    [owlDateTime]="dt1"
                    [owlDateTimeTrigger]="dt1"
                    [formControlName]="ctrl.field"
                    [selectMode]="
                      ctrl.isDateTo
                        ? 'rangeTo'
                        : ctrl.isDateFrom
                        ? 'rangeFrom'
                        : 'range'
                    "
                  /> -->
                    <!-- <div
                    style="color: #969696; font-size: 14px; padding-top: 25px"
                    class="icon-claender"
                    [ngClass]="{
                      'icon-claender-en': language.isEnglish(),
                      'icon-claender-ar': !language.isEnglish()
                    }"
                  >
                    <span class="example-trigger" [owlDateTimeTrigger]="dt1">
                      <i
                        [ngClass]="{
                          'mr-3': language.isEnglish(),
                          'ml-3': !language.isEnglish()
                        }"
                        class="far fa-calendar-minus mr-3 ml-3"
                      ></i>
                    </span>
                    <i
                      *ngIf="!disabled"
                      class="fas fa-times"
                      title="Reset"
                      style="color: #969696; font-size: 14px"
                      (click)="filtersForm.get(ctrl.field).setValue(null)"
                    ></i>
                  </div>
                  <owl-date-time
                    [pickerType]="
                      ctrl.pickerType ? ctrl.pickerType : 'calendar'
                    "
                    #dt1
                  ></owl-date-time> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-scrollPanel>
        <div class="grid">
          <div class="col-9"></div>
          <div class="col-3">
            <button
              pButton
              pRipple
              type="button"
              [label]="'Reset'"
              class="p-button-text mr-2 ml-2"
              (click)="resetForm()"
            ></button>
            <p-button
              [style]="{ width: '100px', 'background-color': '#0080f9' }"
              class="mr-2 ml-2"
              [label]="'Apply'"
              (click)="search(filtersForm.value)"
            >
            </p-button>
          </div>
        </div>
      </div>
      <div [hidden]="isFilterForm">
        <p-scrollPanel [style]="{ width: '100%' }">
          <div class="grid">
            <div class="col-3" *ngFor="let ctrl of unPinnedControls">
              <div class="p-field-checkbox m-2">
                <p-checkbox
                  [inputId]="ctrl.field"
                  [(ngModel)]="ctrl.selectedToFilter"
                  binary="true"
                  [ngModelOptions]="{ standalone: true }"
                ></p-checkbox>
                <label [for]="ctrl.field" class="ml-2 mr-2 mb-0" for="binary">{{
                  "propsNames." + ctrl.field | translate
                }}</label>
              </div>
            </div>
          </div>
        </p-scrollPanel>

        <div class="row line"></div>
        <div class="grid">
          <div class="col-2">
            <button
              pButton
              pRipple
              type="button"
              [label]="'Filters'"
              icon="pi pi-angle-left"
              class="p-button-text mr-2 ml-2"
              (click)="isFilterForm = !isFilterForm"
            ></button>
          </div>
          <div class="col-8"></div>
          <div class="col-2" style="padding-left: 45px">
            <button
              pButton
              pRipple
              type="button"
              [label]="'Confirm'"
              class="mr-2 ml-2"
              (click)="addNewFilterToForm()"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>
<div #actualTarget></div>

<p-dialog
  [header]="uploadHeader"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40rem' }"
>
  <div style="margin-top: -20px">
    <p-divider></p-divider>
  </div>
  <oc-file-upload
    [sampleName]="sampleName"
    (filesSelectedEvent)="filesSelectedEvent($event)"
  ></oc-file-upload>
  <p-divider></p-divider>

  <div>
    <p-button
      [outlined]="true"
      size="small"
      class="float-left"
      label="Cancel"
      (click)="visible = false"
    />
    <p-button
      [disabled]="!fileToUpload"
      (click)="importFromFile()"
      size="small"
      class="float-right"
      label="Save"
    />
  </div>
</p-dialog>
